
.carpooling-arrow,.icon-people,.icon-vacancy,.carpooling-ul .call>i,
.icon-shenglve,.carpooling-serach .turn{
    background-image: url(../img/tc-pic04.png);
    background-size: 50rem;
    background-repeat: no-repeat;
} 

.index-bottom-nav>a .home,.index-bottom-nav>a .me {
    background-image: url(https://j.vzan.cc/content/city2018/images/icon01.png);
    background-size: 50rem;
    background-repeat: no-repeat;
} 

.index-bottom-nav>a .home{background-position: -30.3rem -32.3rem;}

.index-bottom-nav>a.active .home {background-position: -30.3rem -34.8rem;}

.index-bottom-nav>a .me {background-position: -37.8rem -32.3rem;}

.index-bottom-nav>a.active .me {background-position: -37.8rem -34.8rem;}

/*导航*/
.subscribe-cell{
    padding: 1.2rem;
    background: #fff;
}

.subscribe-cell .bt{
    width:7.5rem;
    height: 3rem;
    font-size:1.3rem;
    color: #ff5a00;
    text-align: center;
    line-height: 3rem;
    box-sizing: border-box;
    position: relative;
}

.subscribe-cell .bt:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #ff5a00;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:3rem;
}

.carpooling-serach{
    box-sizing: border-box;
    padding: 0 1.2rem 0 0;
    background: #fff;
    height: 5rem;
    margin: 1rem 0;
}

.carpooling-serach .turn{
    width: 1.9rem;
    height: .6rem;
    display: block;
    background-position:-32.6rem -15.1rem;
}

.carpooling-serach .flex:nth-child(1){
    padding: 0 2rem 0;
}

.carpooling-serach .flex:nth-child(3){
    padding: 0 2rem 0;
    text-align: right;
    color: #333;
}

.carpooling-serach .flex:nth-child(3) input{
    text-align:right;
}

.carpooling-serach input{
    font-size: 1.5rem;
    display: block;
    height: 3.5rem;
    width: 100%;
    box-sizing: border-box;
}

.carpooling-serach input::-webkit-input-placeholder {color: #666;}
.carpooling-serach input::-moz-placeholder {color: #666}
.carpooling-serach input::-moz-placeholder {color: #666;}
.carpooling-serach input::-ms-input-placeholder {color: #666;}

.carpooling-serach .bt{ 
    width:7.5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    background: #ff5a00;
    border-radius:1.5rem;
}

.icon-shenglve{
    width: 2.6rem;
    height: .6rem;
    display: block;
    background-position: -39.9rem -10.4rem;
}

.carpooling-type-bt{
    padding: .7rem 1rem 0;
    background: #fff;
}    

.carpooling-type-bt .bt{
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    line-height: 4.2rem;
    border-radius: .2rem;
    margin-right: .5rem;
}

.carpooling-type-bt .bt:last-child{margin-right: 0;}

.carpooling-ul-all>.bottom-line:last-child:after{
    display: none
}

.carpooling-ul{
    background: #fff;
    line-height: 1.2;
    position: relative;
    border-radius: 4px;
    margin:2.6rem 0 0;
    padding: 0 0 2rem;
}

.carpooling-ul .top .head{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border:2px solid #fff;
    overflow: hidden;
    margin: -2.4rem .3rem 0 0;
    box-shadow: 0 5px 10px rgba(167,167,167,.4);
    box-sizing: border-box
}

.carpooling-ul .top .clamp1{max-width:26%;}

.carpooling-ul.gray{
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */  
    filter: grayscale(1); /* W3C */
}


.carpooling-ul .top .head img{
    width: 100%;
    height: 100%;
}


.carpooling-ul .label01,.carpooling-ul .label01.active{
    height:1.6rem;
    border-radius: 2px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6rem;
    position: relative;
    padding: 0 .3rem;
    margin:0 0 0 .4rem;
}


.carpooling-ul .label01{
    color: #2073F0;
    background: rgba(0,156,255,.1);
}

.carpooling-ul .label01.active{
    color: #00b40d;
    background: rgba(0,180,13,.1);
}

.carpooling-ul .label01.gray{
    color: #2073F0;
    background: rgba(0,156,255,.1);
}

.carpooling-ul .start-time{
    height:2.2rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2.2rem;
    position: relative;
    padding: 0 1rem;
    color: #ff5a00;
    margin-right: .5rem;
    background: rgba(255,90, 0,.1);
    border-radius: 1.1rem;
}


.carpooling-ul .start-time:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 2.2rem;
    border: 1px solid #ff5a00;
}



.carpooling-ul .label01:before,.carpooling-ul .label04:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #2073F0;
}

.carpooling-ul .label01.active:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #00b40d;
}




.carpooling-ul.gray .label02,.carpooling-ul.gray .label04{
    color: #ccc;
    background: rgba(204,204,204,.1);
}


.carpooling-ul .label04{
    color: #ff5a00;
    background: rgba(255,90,0,.1);
}

.carpooling-ul.gray .label02:before,.carpooling-ul.gray .label04:before{
    border: 1px solid #ccc;
}

.carpooling-ul .label02:before{
    border: 1px solid #009CFF;
}

.carpooling-ul .label04:before{
    border: 1px solid #ff5a00;
}

.carpooling-ul .center{
    overflow: hidden;
}
 
.carpooling-ul .cong{
    margin: 0 1rem;
}


.carpooling-ul .li03{
    margin-bottom: 1rem;
}

.carpooling-ul .li03,.carpooling-ul .li04{
    position: relative;
    font-size: 1.3rem;
    color:#666;
    padding: 0 1.2rem;
}

.carpooling-ul .call{
    margin: 0 0 0 1rem;
    width:8.5rem;
    height:2.8rem;
    background:#2073F0;
    color: #fff;
    border-radius: 1.4rem;
    font-size: 1.3rem;
    line-height: 2.8rem;
    text-align: center;
}

.carpooling-ul.gray .call{
    background: #ccc
}

.carpooling-ul .call>i{
    width:1.2rem;
    height: 1.5rem;
    display: inline-block;
    margin: 0 .3rem 0 0;
    background-position: -42.7rem -10.4rem;
    vertical-align: -.2rem;
}

.carpooling-ul .icon-shi-call{
    color: #fff;
    vertical-align: -.1rem;}

.carpooling-ul .arrow{
    width:2.5rem;
    display:block;
    margin:0 1rem;
}

.carpooling-sort .flex:first-child{margin-right:5px;}

.carpooling-sort .flex:last-child{margin-left:5px;}

.carpooling-sort .flex{
    height: 3.2rem;
    line-height: 3.2rem;
    background: #fff;
    border-radius: 4px;
}

.carpooling-sort .active.flex{
    color: #ff5a00;
}

.carpooling-sort .iconfont{margin-right:.5rem;vertical-align:-2px;font-size: 18px; }

.carpooling-ul .zhiding{
    height:2.2rem;
    line-height: 2.2rem;
    width:4.5rem;
    margin-right: .5rem;
    margin-left: -1.2rem;
    text-align: center;
    background: #F90606;
    color: #fff;
    font-size: 1.4rem;
    border-top-right-radius:1.1rem; 
    border-bottom-right-radius:1.1rem; 
}

.carpooling-ul.gray{
    box-shadow: none;
}

.carpooling-ul .mask{display:none;}

.carpooling-ul.gray .mask{
    background: rgba(238,238,238,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block
}

.carpooling-ul.gray .fache{
    width: 6.6rem;
    display: block;
    position: absolute;
    top: 10rem;
    right:2.6rem;
    z-index: 2;
}

.icon-lahuo{
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.3rem;
    border-radius: 50%;
    display: block;
    background: rgba(0, 0, 0, .7);
    z-index: 10;
    color:#fff;
    text-align: center;
}

.starting-point{margin:1.5rem 1.2rem;position: relative;}

.starting-point .dot01,.starting-point .dot02{
    width:1.9rem;
    height:1.9rem;
    line-height: 1.9rem;
    border-radius: 50%;
    margin: 0 .7rem 0 0;
    text-align: center;
    color:#fff;
    font-size: 1.2rem;
    position: relative;
    z-index:2;
}

.starting-point .dot01{
    background:#2073F0;
}

.starting-point .dot02{
    background:#ff5a00;
}

.starting-point .xu-line{
    position: absolute;
    height: 80%;
    top: 10%;
    width: 1px;
    left: .9rem;
    border-left:1px dashed #ff5a00;
}

.carpooling-ul .top{
    padding: 0 1.2rem 0;
    height: 5.3rem
}

/*搜索栏*/
.free-ride{
    background: #fff;
}

.free-ride .bt{
    height: 44px;
    font-size: 16px;
    background: #ff5a00;
    color: #fff;
    text-align: center;
    line-height: 44px;
}

.free-ride .write{
    height:65px;
}

.free-ride .write .dot{
    width: 1.1rem;
    height: 1.1rem;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    display: block;
}

.free-ride .write input{
    height: 100%;
    font-size: 1.6rem;
    width: 100%;
    padding-left: 9%;}

.carpooling-arrow{
    width: 2rem;
    height: 1.8rem;
    background-position: -6rem 0;
}   

.icon-people{
    margin:1.1rem 1.5rem 0;
    width:2rem;
    height:2.1rem;
    display:block;
    background-position: -6rem -1.9rem;
}



/*选择栏*/
.index-type-select-nav{background: #fff;
    height: 5rem;
    line-height: 5rem;
}

.index-type-select-nav li{
    margin: 0;
    padding: 0 10px;
    height: 5rem;
    font-size: 1.5rem;
    position: relative;
    line-height:5rem;
    text-align: center;
    color: #333;}

.index-type-select-nav li.active{color: #ff5a00;}

.index-type-select-nav li:before{
    content:"";
    width:3rem;
    height: .2rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    background: #ff5a00;
    display: none;
    border-radius: .2rem;
}

.index-type-select-nav li.active:before{display:block;}

.index-type-select-nav li.active i{display: block}

.index-type-select-nav.bottom-line:after{z-index: 10;}

.search-cell{padding: 1rem 0;background: #fff;margin: 0 1rem;}

.search-cell .head{width: 6rem;height: 6rem;border-radius: 50%;margin-right: 1rem;}

.search-cell .head img{width: 100%;height: 100%;border-radius: 50%;}

.search-cell .call{height: 3rem;width: 3rem;border:1px solid #ff5a00;border-radius: 50%;line-height: 3rem;text-align: center;margin-left: 1rem;}

.search-cell .call .icon-dianhua{font-size: 24px;color: #ff5a00;}


/*底部栏*/

@media only screen and (min-width: 320px) and (max-width: 350px) {
    html{font-size: 50%}
}