

.upload_pic_ul01 li span,.pImg ul li.more .go{
    background-image: url(../img/tc-pic04.png);
    background-repeat: no-repeat;
    background-size: 50rem;
}

.p_list{padding-bottom: 3rem;}

.p_header{
    font-size: 1.2rem;
    line-height: 1.35;
    color: #666;
}

.p_list .p_header .p_img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0;
    margin-right: 0.8rem;
}

.p_list .p_header .pc_time,.p_header .pc_name{
    padding-top: .3rem;
    height: 1.4rem;
}

.p_list .p_content {
    padding-left: 3.8rem;
    margin-top: -1.2rem;
}

.p_header .pc_name{max-width:100px;}

.p_list .p_content .p_txt {
    font-size: 1.4rem;
    color: #333;
    margin-top: 0.4rem;
    line-height: 1.6;
    padding-right: 1rem;
}

.p_list .p_header .p_img img {
    width: 100%;
    height: 100%;
}

.icon-comment {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    fill: #666;
    margin-right: .4rem;
    vertical-align: -.4rem;
}

 .icon-post-admin {
    width: 1.6rem;
    height: 1.6rem;
    fill: #666;
    display: block;
    margin-top: -.3rem;
}

.p_list .p_bot{overflow: hidden;margin-top:1.2rem}

.p_list .p_bot a {
    display: block;
    font-size: 1.2rem;
    color: #666;
    margin-left: 1.5rem;
    cursor: pointer;
    float: right;
}

/*照片*/
.p_list .pImg ul {
    overflow: auto;
}

.p_list .pImg ul li {
    width: 25%;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 2%;
    float: left;
    position: relative;
    margin-left: 2%;
    padding-top: 25%;
}

.pImg ul li img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pImg ul li.more {
    text-align: center;
    width: 19%;
    background: #fafafa;
    position: relative;
}

.pImg ul li:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.pImg ul li.more .go {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background-position: -8.8rem -2.2rem;
    margin: 2% auto .3rem;
}

.pImg ul li:first-child {
    margin-left: 0%;
}

.pImg ul li.more .position {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
}

/*回复*/
.p_list .p_pro {
    padding:0 0.8rem 1.4rem;
    background: #f2f2f2;
    border-radius: 2px;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    line-height: 1.6
}

.p_list .p_pro p a {color: #0091ff;}

.p_list .p_pro>p{cursor:pointer;padding-top: 1rem;}

.p_list .p_pro>p:first-child{padding-top: .8rem}

.p_replay textarea{
    height: 100px;
    background: #f2f2f2;
    display: block;
    border-radius: 2px;
    width: 100%;
    color: #333;
    padding: 1rem;
    line-height: 1.6;
}

.p_replay .pr_txt {padding:0 1.2rem 1.2rem;}

.p_replay .pr_txt .pr_txtIn{
    width: 100%;
    background-color: #f0f0f0;
    height: 8rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    outline: none;
}


.p_replay .upload_pic_ul01 li {
    float: left;
    width:6rem;
    height:6rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.p_replay .upload_pic_ul01 {
    overflow: hidden;
    padding: 0 1rem .4rem;
    display: none;
}

.p_replay .upload_pic_ul01 li img{width: 100%;height: 100%;}


.upload_pic_ul01 li span{
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-bottom-left-radius: 4px;
    fill: #fff;
    padding: .4rem;
    box-sizing: border-box;
    font-weight: bold;
    background-position: -14rem -6.9rem;
    z-index: 1;
}

.pr_bot .emjio{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    background-position: -27.5rem -30rem;
    margin-right: 2.3rem;
    fill:#ccc;
}

.p_replay .pr_b_r .button2 {
    height: 3rem;
    line-height:3rem;
    padding: 0 1.7rem;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    background:#ff3a1b;
}

.p_replay .pr_b_r .button1{
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.7rem;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    color: #333;
    font-size: 1.4rem;
}

.p_replay .pr_b_r .button1::before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:4px;
}

.p_replay .pr_b_r a {
    display: block;
    margin-left: 1.2rem;
    float: right;
}

.p_replay .pr_bot{
    padding: 0 1.2rem;
}