

.me-cell .icon,.me-cell .arrow{
    background-image: url(../img/tc-pic04.png);
    background-repeat:no-repeat;
    background-size:50rem;
}

.me-top-cell{
    background: #fff;
    position: relative;
    height: 13.7rem;
    border-radius: 10px;
    padding: 4.7rem 0 0;
    box-sizing: border-box
}

.me-top-cell .head{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    top: -3.5rem;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
}


.me-top-cell .head img{border-radius: 50%;}

.me-top-cell .name{
    max-width: 80%;
    margin: 0 auto 0;
    text-align: center;
} 

.me-top-cell .shadow{
    height: 1px;
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0,0, 0,.25);
    z-index: 2;
}

.turn-bt{
    height: 3.4rem;
    background:#fff;
    text-align: center;
    line-height: 3.4rem;
    border-radius:1.5rem;
    margin: 1.6rem auto 0;
    width: 20rem;
    position: relative;
    font-size: 1.6rem;
}

.turn-bt::before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 3.4rem;
    border: 1px solid #ff5a00;}

.turn-bt a{
    color: #333; 
    height: 100%;
    border-radius: 1.7rem;
}



.turn-bt a.active{background: #ff5a00;color: #fff;}

.me-cells{
    padding: 0 1.2rem;
    background: #fff;
    border-radius:4px;
    position: relative;
    z-index: 2;
}

.me-cell {
    background: #fff;
    height: 4.5rem;
    font-size:1.4rem;
}

.me-cell .icon {
    height: 1.7rem;
    width: 1.7rem;
    margin-right: .8rem;
}

.me-cell .arrow{
    width: .7rem;
    height: 1.1rem;
    background-position: -24.5rem -9.2rem;
    margin-left: 5px;
}

.me-cell .number{color: #999;position: relative}

.me-cell .number .dot{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ff3a1b;
    position: absolute;
    top: -2px;
    right: -4px;
}

.icon-release-find{background-position:-32.6rem 0;}

.icon-applied-position{background-position:-34.5rem 0;}

.icon-enterprise{background-position:-36.4rem 0;}

.icon-release-recruit{background-position:-38.3rem 0;}


