
    
.icon-triangle,.icon-nan,.icon-exclamatory-mark,.icon-nv,.icon-fabu,.icon-location {
    background-image: url(../img/tc-pic04.png);
    background-size: 50rem;}

.detail-recruit{
    background: #fff;
    padding:2.5rem 1.2rem 2rem;
    border-radius: 4px;
}

.icon-nv,.icon-nan{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 0 .5rem;
    display: inline-block;
    vertical-align: -.1rem;
}

.icon-nan{background-position: -31.5rem -16.3rem;}

.icon-nv{background-position: -33.2rem -16.3rem;}

.detail-recruit .top .f01{line-height: 1.35;margin-top: 1rem;}

.detail-recruit .top .fulltime{
    display: inline-block;
    background: #1689fe;
    color: #fff;
    font-size: 1rem;
    line-height: 1.6rem;
    height: 1.6rem;
    padding: 0 .5rem;
    border-radius: .4rem;
    font-weight: normal;
    margin-right: .3rem;
    vertical-align:.2rem;
}

.detail-recruit .top .f02 {
    font-size: 1rem;
    color: #666;
    line-height: 1.2;
    margin-top: 1rem;
}

.detail-recruit .top .f02 span:after{content: "丨";}

.detail-recruit .f02 span:last-child:after{display: none}


.detail-recruit .top .type{
    overflow: hidden;
}

.detail-recruit .top .type span {
    font-size: 1.2rem;
    background: #fff6f0;
    color: #fd781f;
    padding: 0 .5rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2px;
    position: relative;
    margin-right: 1rem;
    float: left;
    display: block;
}

.detail-recruit .top .money{color: #ff0012;margin-top: 1.4rem;line-height: 0.9}

.detail-recruit .bottom{margin-top: 3rem;line-height: 1.35;}

.icon-qi{    
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fff;
    margin-right: 4px;}

.icon-qi{
    background: #1689fe;
    font-weight: normal;
    vertical-align: .1rem;
}

.icon-triangle{
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-position: -8.8rem -2.2rem;
    vertical-align: -.3rem;
    margin-left:.8rem;
}  

.icon-navigation{
    width:1.2rem;
    height:1.5rem;
    display: block;
    fill: #009cff
}

.company-cell{margin-top: 1rem;}

.company-cell .head{
    width: 4rem;
    height: 4rem;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    margin-right: .8rem;
}

.company-cell .f01{margin-bottom: .5rem;}

.job-description{
    margin-top: 3rem;
}

.job-description .content{
    min-height: 6rem;
}

.job-description img{
    display: block;
    width: 100%;
    margin-top: 1rem
}

.job-description .content p{
    line-height: 1.5;
    margin-top: 0.6rem
}

.icon-exclamatory-mark{
    display: inline-block;
    width:1.6rem;
    height:1.5rem;
    margin-right: .2rem;
    vertical-align: -.2rem;
    background-position: -16rem -16.3rem;
}

.reminder .bt{color: #F90606;}

.reminder{
    background: #fff;
    border-radius: 2px;
    margin-top: 1rem;
    padding: 1.5rem;
}

.reminder .f01{margin-bottom:1rem;}

/*求职详情*/
.detail-job-wanted .head {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: block;
    margin: 2.5rem auto 0;
    position: absolute;
    top: 0;
    right: 2.5rem;
}

.detail-job-wanted .self-condition span:after {content: "丨";}

.moveUp{
    animation:moveup .3s linear forwards;
}

/*求职*/
.qiuzhi .head{
    width:40px;
    height:40px;
    margin: 0 1rem 0 0;
}

.qiuzhi .infor{margin:.8rem 0 0;}

.qiuzhi .infor span{color: #666;}

.qiuzhi .infor span:after{content: "丨";}

.qiuzhi .infor span:last-child:after{display: none;}

.qiuzhi .type{
    overflow: hidden;
    margin-top: 1rem;
    height: 2rem;
}

.qiuzhi .type span{
    font-size: 1.2rem;
    background: #fff6f0;
    color: #fd781f;
    padding: 0 .5rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 2px;
    position: relative;
    margin-right: 1rem;
    float: left;
    display: block;}

.qiuzhi .bt{
    font-size: 1.5rem;
    color: #fd781f;
    height: 2.8rem;
    width: 6.5rem;
    border: 1px solid #ff5a00;
    border-radius: 1.4rem;
    text-align:center;
    line-height: 2.8rem;
}

.icon-fabu {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    background-position: -47.8rem -12.6rem;
}

.icon-location {
    width: 1rem;
    height: 1.1rem;
    display: inline-block;
    background-position: -7rem -12.3rem;
    margin-right: .4rem;
    vertical-align: -.1rem;}


/*底部导航*/
.detail-footer-nav {
    height: 4.9rem;
    background: #fff;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.detail-footer-nav .icon {
    margin: .7rem auto .4rem;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
}

.detail-footer-nav li {
    height: 100%;
}

.detail-footer-nav li a {
    display: block;
    width: 100%;
}

.detail-footer-nav .icon {
    margin: .7rem auto .4rem;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
}

.detail-footer-nav p {
    text-align: center;
    color: #333;
    font-size: 1rem;
    margin-top: .2rem;
}

.detail-footer-nav .icon {
    background-image: url(../img/icon01.png);
    background-size: 50rem;
    background-repeat: no-repeat
}

@keyframes moveup{
    0%{bottom:-100%;}
    100%{bottom:0;}
}
   




