
    
.icon-triangle{
    background-image: url(../img/tc-pic04.png);
    background-size: 50rem;}

.detail-recruit{
    background: #fff;
    margin: 1.2rem 0 0;
    box-shadow: 0 0 15px rgba(0,0, 0,.1);
    padding:1.2rem 1.2rem 1.6rem;
    border-radius: 4px;
}

.detail-recruit .top .f01{line-height: 1.35;margin-top: 1rem;}

.detail-recruit .top .fulltime{
    display: inline-block;
    background: #1689fe;
    color: #fff;
    font-size: 1rem;
    line-height: 1.6rem;
    height: 1.6rem;
    padding: 0 .5rem;
    border-radius: .4rem;
    font-weight: normal;
    margin-right: .3rem;
    vertical-align:.2rem;
}

.detail-recruit .top .f02 {
    font-size: 1rem;
    color: #666;
    line-height: 1.2;
    margin-top: 1rem;
}

.detail-recruit .top .f02 span:after{content: "丨";}

.detail-recruit .f02 span:last-child:after{display: none}


.detail-recruit .top .type{
    overflow: hidden;
}

.detail-recruit .top .type span {
    font-size: 1.2rem;
    background: #fff6f0;
    color: #fd781f;
    padding: 0 .5rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: 2px;
    position: relative;
    margin-right: .4rem;
    float: left;
    margin-top: .4rem;
}

.detail-recruit .top .type span:after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffddc6;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.detail-recruit .top .money{color: #ff0012;margin-top: 1.4rem;line-height: 0.9}

.detail-recruit .bottom{margin-top: 3rem;line-height: 1.35;}

.icon-qi{    
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #fff;
    margin-right: 4px;}

.icon-qi{
    background: #1689fe;
    font-weight: normal;
    vertical-align: .1rem;
}

.icon-triangle{
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-position: -8.8rem -2.2rem;
    vertical-align: -.3rem;
    margin-left:.8rem;
}  

.icon-navigation{
    width:1.2rem;
    height:1.5rem;
    display: block;
    fill: #009cff
}

.company-cell{margin-top: 1rem;}

.company-cell .head{
    width: 4rem;
    height: 4rem;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    margin-right: .8rem;
}

.company-cell .f01{margin-bottom: .5rem;}

.job-description{
    margin-top: 3rem;
}

.job-description .content{
    min-height: 6rem;
}

.job-description img{
    display: block;
    width: 100%;
    margin-top: 1rem
}

.job-description .content p{
    line-height: 1.5;
    margin-top: 0.6rem
}

.icon-exclamatory-mark{
    display: inline-block;
    width:1.2rem;
    height:1.2rem;
    fill: #fd781f;
    margin-right: .4rem;
    vertical-align: -.2rem;
}

.reminder .bt{color: #fd781f;}

.reminder{
    background: #f2f2f2;
    border-radius: 2px;
    margin-top: 1.6rem;
    padding: 1.2rem;
}

.reminder .f01{margin-bottom: .8rem;}

/*求职详情*/
.detail-job-wanted .head {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: block;
    margin: 1.5rem auto 0;
}

.detail-job-wanted .self-condition span:after {content: "丨";}

.moveUp{
    animation:moveup .3s linear forwards;
}

@keyframes moveup{
    0%{bottom:-100%;}
    100%{bottom:0;}
}
   




