.write-cell .arrow-right,.icon-require,.write-cell .location .icon-fill-location,
.upload-company-pic li .close,.write-cell .sex .radio span,.write-cell .some .radio,
.company-infor .icon01,.company-infor .icon02,.company-infor .icon03,.top-radio span,.icon-integral,
.more-infor .arrow,.value-select.active{
    background-image: url(../img/tc-pic04.png);
    background-size: 50rem;
}


.head-cell{
    padding:0.213rem;
    background: #fff;}

.head-cell .head{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 0.107rem;
    display: block;
}

/*填写资料*/
.box-shadow-kuang{
    padding: 0 1.2rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    position: relative;
}


.more-infor{color:#fd781f;padding:1.2rem 0 0;}


.more-infor .arrow{
    width: 1.2rem;
    height: 0.8rem;
    display: inline-block;
    background-position: -31rem -.9rem;
    margin-left: .7rem;
}

/* 
.write-cell{
    background: #fff;
    height: 4.4rem;
    font-size:1.4rem;
} */

.write-cell {
    background: #fff;
    height: 5.5rem;
    font-size: 1.4rem;
    padding: 0 1.5rem 0 0;}


.write-cell .must{
    position: absolute;
    right:-0.3rem;
    top: 0.053rem
}

.write-cell .right{
    position: relative;
}

.write-cell .right input.write{
    display: block;
    width: 100%;
    height: 100%;
    font-size:1.4rem;
    color: #333;
} 

.write-cell .empty{color: #fff;}

.write-cell .left{width: 30%}

.write-cell .sex .radio{float: left;}

.write-cell .sex .radio span,.write-cell .some .radio,.top-radio span{
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.4rem;
    vertical-align: -0.1rem;
    box-sizing: border-box;
    background-position: -2.4rem -17.5rem;
    vertical-align: -.3rem;
}

.top-radio span{background-position: -2.4rem -15.3rem;}

.top-radio.active span{background-position: -2.4rem -17.5rem;}


.write-cell .sex .radio,.write-cell .some .radio{margin-left:1.2rem}

.write-cell .sex .radio.active span,.write-cell .pay-top.active .radio,
.write-cell .some.active .radio{
    background-position:-2.4rem -19.5rem;
}

.write-cells .write-cell:first-child.top-line:before{display: none}

.write-cell .arrow-right{
    /* height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-position: -8.8rem -2.2rem;
    position: absolute;
    right: 0;
    top:.2rem; */

    width: .7rem;
    height: 1.1rem;
    background-position: -24.5rem -9.2rem;
    margin-left: 5px;
}


.write-cell select{
    font-size:1.4rem;
    padding-right: 2.8rem;
    position: relative;
    height: 100%;
}

.write-cell select.no-change{color: #333;}


.write-cell .recruit-type{
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 4px;
    background: #fff;
    color: #999;
    position: relative;
}

.write-cell .recruit-type span:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:2.4rem;
} 

.write-cell .recruit-type span.active:before{display: none}

.write-cell .recruit-type span{
    display: block;
    float: left;
    width:47%;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%;
    border-radius: 1.2rem;
}

.write-cell .recruit-type span.active{
    background:#FF5A00; 
    color: #fff
}

.write-cells textarea.describe{
    height:8rem;
    display: block;
    width: 100%;
    font-size:1.4rem; 
    box-sizing: border-box
}

.write-cell input.area{
    display: block;
    color: #333;
    font-size:1.4rem;
    width: 100%;
}

.write-cell .pay-top .radio{
    height: 2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    margin-right:1rem;
    vertical-align: -.2rem;
    box-sizing: border-box;
    background-position: -2.4rem -17.5rem;
}

.write-cell .add{
    width: 4.9rem;
    margin-left: 1.2rem;
    color: #fff;
    background: #0091ff;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: 1.2rem;
    text-align: center
}

.company-welfare{margin-top: -0.8rem;overflow: hidden}

.company-welfare span{
    width: 23%;
    height: 2.4rem;
    line-height: 2.4rem;
    border-radius: .2rem;
    color: #999;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    margin-top: 1.5rem;
    margin-right:2.6%;
    font-size: 1.2rem;
}

.company-welfare span.active{background: #ff5a00;color: #fff;}


.company-welfare span.active::after{display: none}

.company-welfare span:nth-child(4n){
    margin-right:  0;
}

.company-welfare span:after{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: .4rem;
}

.write-cell .location{
    padding-left: 1.6rem;
    color: #ff5a00;
    vertical-align: -.2rem;
}

.write-cell .location .icon-fill-location{
    width: 1.2rem;
    height:1.7rem;
    display: inline-block;
    margin-right: 0.4rem;
    background-position: -14.6rem -16.1rem;
    vertical-align: -.4rem;
}

.upload-logo{padding: .32rem 0}

.upload-logo .pic{
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    margin-right:0.32rem 
}

.upload-company-pic{background: #fff;overflow: hidden}

.upload-company-pic li{
    width:4rem;
    height:4rem;
    border-radius: 4px;
    margin-right:0.8rem;
    margin-top:0.8rem;
    float: left;
    position: relative;
    overflow: hidden;
}

.upload-company-pic li:nth-child(5n){
    margin-right:0;
}

.upload-company-pic li img{
    display: block;
    width: 100%;
    height: 100%;}

.upload-company-pic li .close{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width:1.6rem;
    height:1.6rem; 
    background-position: -14rem -6.9rem;
    display: block;
}

.set-time-cell{
    background: #f2f2f2;
    padding:0 .32rem 0 .854rem;
    overflow: hidden;
    height: 1.173rem;
    font-size: 0.373rem;
    line-height: 1.173rem;
}

.set-time-cell .set-top-time{
    height:0.587rem;
    width:1.173rem;
    display: block;
    text-align: center;
    font-size: 0.373rem;
    color: #333;
    position: relative;
    margin-top: .293rem
}

.set-time-cell .set-top-time:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #999;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}    

.set-time-cell .set-top-time input{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 0.373rem;
    text-align: center;
}

.icon-require{
    width: .7rem;
    height: .7rem;
    margin: 0 0 0 .4rem;
    display: inline-block;
    vertical-align: .1rem;
    background-position:-26.7rem -9.2rem;}

.icon-compete{
    font-size: 1rem;
    color: #fff;
    background: #0091ff;
    border-radius: 4px;
    border-bottom-left-radius:0;
    margin-left: .4rem;
    padding:0 .4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    vertical-align: .1rem;
}

/*底部导航*/
 .release-nav{
    height: 4.9rem;
    background: #fff;
    font-size:1.6rem;
    padding-left: 1.2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.release-nav.top-line::before{
    top:-1px;
}

.release-nav .bt{
    width: 53%;
    color: #fff;
    background: #ff5a00;
    font-size: 1.6rem;
    line-height: 4.9rem;
    text-align: center;
}

.release-nav .money{
    line-height: 4.9rem;
}

.people-head{
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.people-head img{width: 100%;height: 100%;}

.icon-exclamatory-mark{
    fill: #fd7c25;
    width: 1.4rem;
    height: 1.4rem;
    display:block
}

.icon-integral{
    width: 1.2rem;
    height: 1.5rem;
    display: block;
    background-position:-4.4rem -15.3rem;
}

.icon-exclamatory-mark{
    width: 1.4rem;
    height: 1.4rem;
    display: inline-block;
    fill: #fd7c25;
    margin-left: .4rem;
    margin-top: .1rem;
}


/*弹框*/
.dialog-content.company-infor{
    z-index: 1001;
    max-width:300px;
    width: 85%;
    border-radius: 4px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    box-sizing: border-box;
    padding-bottom: 3rem;
}

.company-infor .content{
    font-size: 1.4rem;
    color: #999;
    padding: 0 2.5rem;
    margin-top: 3rem;
}

.company-infor .content .bt01{
    height: 44px;
    border-radius: 22px;
    background: linear-gradient(to right,#f20300,#ff450c);
    color: #fff;
    font-size: 1.4rem;
    display: block;
    width: 66.66%;
    text-align: center;
    line-height: 44px;
    margin: 5px auto 0;
    box-shadow: 0 4px 8px rgba(255,58,27,.35);
}

.company-infor .content .f01{padding-bottom: 1.6rem;line-height: 1.6}

.company-infor .pic{
    width: 75%;
    display: block;
    margin:20px auto 0;
}

.company-infor .icon01,.company-infor .icon02,.company-infor .icon03{
    width:1.9rem;
    height: 1.8rem;
    display:block;
    margin-right:5px;
    margin-top: .2rem;
}


.company-infor .icon01{background-position:0 -15.3rem;}

.company-infor .icon02{background-position:0 -17.3rem;}

.company-infor .icon03{background-position:0 -19.3rem;}

.dialog-content.company-infor .close{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    color: #ccc;
    padding:1.6rem;
    width:1.6rem;
    height:1.6rem;
    fill: #ccc;
}

.value-select{
    width: 1.9rem;
    height: 1.9rem;
    display:block;
    margin: 0 1rem 0 1.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 50%;
}

.value-select.active{

    border: none;
    background-position: -42.1rem 0;
}

/*滑块*/
.weui-cells_form .weui-cell__ft{font-size: 0;}
.weui-cell__ft {
text-align: right;
color: #808080;
}
.weui-cells_form input, .weui-cells_form textarea, .weui-cells_form label[for] {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
border-color: #ff5a00;
background-color: #ff5a00;
}
.weui-switch-cp__box {
display: block;
}
.weui-switch, .weui-switch-cp__box {
position: relative;
width: 52px;
height: 32px;
border: 1px solid #dfdfdf;
outline: 0;
border-radius: 16px;
box-sizing: border-box;
background-color: #fdfdfd;
-webkit-transition: background-color 0.1s, border 0.1s;
transition: background-color 0.1s, border 0.1s;
}
.weui-switch:checked:before, .weui-switch-cp__input:checked, .weui-switch-cp__box:before {
-webkit-transform: scale(0);
transform: scale(0);
}

.weui-switch:checked:after, .weui-switch-cp__input:checked ~ .weui-switch-cp__box:after {
-webkit-transform: translateX(20px);
transform: translateX(20px);
}

.weui-switch:after, .weui-switch-cp__box:after {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 30px;
height: 30px;
border-radius: 15px;
background-color: #FFFFFF;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.weui-switch:before, .weui-switch-cp__box:before {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 50px;
height: 30px;
border-radius: 15px;
background-color: #FDFDFD;
-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.weui-switch {
-webkit-appearance: none;
appearance: none;
}

.weui-switch-cp__input {
position: absolute;
left: -9999px;
}





