.me-top .infor .vip,.icon-sign,.data-ul .icon,.fenxiao-center-cell .icon,.me-icon-ul li i{
    background-image: url(../img/me02.png);
    background-repeat: no-repeat;
    background-size: 50rem;
}

body{line-height: 1}

.icon-sign{width:1.5rem;height: 1.5rem;display: inline-block;margin: 0 .5rem 0 0;vertical-align: -.4rem}

.data-ul{color: #fff;text-align: center;}

.data-ul .f01{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: #fff;
 }

.data-ul .f02{
   font-size: 1.2rem;
   color:#fff;
}

.data-ul .icon{
    width: 1.9rem;
    height: 1.9rem;
    display: block;
    margin: 0 auto .5rem;
    background-position: -1.6rem 0;
}

.data-ul a{position: relative}

.data-ul a .left-line{
    position: absolute;
    left: 0;
    top: 6px;
    width: 1px;
    height: 24px;
    background: #fff;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.fenxiao-center-cell .icon{
    width: 3.2rem;
    height:3.2rem;
    display:block;
    margin: 0 1rem 0 0;
}

.dark-blue{
    margin:-1.8rem 1rem 0;
    background: #364263;
    border-radius: 5px;
    height: 6.2rem;
    position: relative;
    z-index:201;
    overflow: hidden;
}

.dark-blue .trapezoid{
    margin: 0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 120px;
    border-top: 100px solid rgba(255,255,255,.03);
    border-right: 37px solid transparent;
    display: block
}

.fenxiao-center-cell{
    padding: 0 1rem;
}

.fenxiao-center-cell .f01{
    font-size: 1.4rem;color:#FFDCAE;
}

.fenxiao-center-cell .f02{
    color: rgba(255,255,255,.8);
    font-size: 1.2rem;
}

.fenxiao-center-cell .arrow01{
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 1px 1px 0 0;
    border-color:rgba(255,255,255,.8);
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    margin: 0 0 0 .2rem;
}

.dark-blue .fenxiao-center-cell{
    width:120px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.dark-blue .right:before{
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    width: 1px;
    height: 50%;
    background: rgba(255,255,255,.15);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.me-top{
    background:linear-gradient(to right,#FF9600,#FF6C00);
    height: 16.8rem;
}

.me-top .infor{padding: 2rem 1rem;line-height: 1.3;}

.me-top .infor .head{margin:0 1rem 0 0;border-radius: 50%;background:rgba(255,255,255,.5);width: 5rem;height: 5rem;padding: .25rem}

.me-top .infor .head img{display: block;width: 4.5rem;height: 4.5rem;border-radius: 50%;}

.me-top .infor .bt{margin: 0 0 0 1rem;line-height: 2.8rem;width:6.4rem;height: 2.8rem;border-radius:1.4rem;border-radius: 1.4rem;background: #fff;}

.me-top .infor .bt.active{color: #999;}

/*列表*/
.my-order-all{
    background:#fff;
    border-radius:10px;
    margin: 1rem 1rem 0;
}

.my-order-title{
    padding:1.5rem 1rem 0;
    color: #333;
}

.my-order-title .arrow01{
    display: inline-block;
    height: 7px;
    width: 7px;
    border-width: 1px 1px 0 0;
    border-color:#ccc;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.me-icon-ul{
    padding: 2rem 0 0;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.me-icon-ul li {
    float: left;
    width: 20%;
}

.me-icon-ul li a {
    padding-bottom: 2rem;
    display: block;
}

.me-icon-ul li p {
    font-size: 1.2rem;
    color: #666;
    margin-top:.7rem;
}

.me-icon-ul li i {
    width: 2rem;
    height: 2rem;
    display: block;
    margin: 0 auto;
    position: relative;
}

.me-icon-ul li i .dot01 {
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    font-size: 10px;
    color: #fff;
    line-height: 1.2rem;
    text-align: center;
    right: -7px;
    top: -7px;
    padding: 0 .1rem;
    display: block;
    background: #FF1C1C;
    border: 1px solid #fff;
    border-radius: .8rem;
    box-sizing: border-box
}

.me-icon-ul.top-line:before{
    width: 90%; 
    left:5%;
}

#fenxiao-alert .mask{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index:200;
}

#fenxiao-alert .content{
    position: fixed;
    top:0;
    left:0;
    z-index:202;
}

#fenxiao-alert img{
    width: 15rem;
    margin: 19rem 0 0 1rem;}

#fenxiao-alert .bt{
    line-height:3rem;
    width:7rem;
    height:3rem;
    background:#fff;
    border-radius:1.5rem;
    font-size:1.4rem;
    text-align:center;
    margin: 1.5rem 0 0 5rem;
}

.me-top .infor .name{
    max-width: 60%;
    float: left;
}

.me-top .infor .vip{
    margin: 0 0 0 .5rem;
    width: 3.7rem;
    height:1.5rem;
    display:inline-block;
    background-position:-10.2rem 0;
    vertical-align: -.3rem;
}

/*图标*/
.icon_pc01_daifukuan{
    background-position:0 -2rem;
}

.icon_pc01_daifahuo{
    background-position:0 -4.1rem;
}

.icon_pc01_daishouhuo {
    background-position:0 -6.2rem;
}

.icon_pc01_daipingjia {
    background-position:0 -8.3rem;
}

.icon_pc01_shouhou{
    background-position:0 -10.4rem;
}

.icon_pc01_qiangyouhui{
    background-position: 0 -12.5rem;
}

.icon_pc01_kanjia{
    background-position: 0 -14.6rem;
}

.icon_pc01_pintuan{
    background-position:0 -16.7rem;
}

.icon_pc01_aixinjia{
    background-position:0 -18.8rem;
}

.icon_pc01_fenleixinxi{
    background-position:0 -20.9rem;
}

.icon_pc01_choujiang{
    background-position:0 -23rem;
}

.icon_pc01_wodehuodong{
    background-position:0 -25.1rem;
}

.icon_wodetoupiao{
    background-position:0 -27.2rem;
}

.icon_chengshi114{
    background-position:0 -29.3rem;
}

.icon_xuexiaohuodong{
    background-position:0 -31.4rem;
}

.icon_pc01_zhaopinqiuzhi{
    background-position:0 -33.5rem;
}

.icon_pc01_fangchanzhongjie{
    background-position:0 -35.6rem;
}

.icon_pc01_xiaoxitixing{
    background-position:0 -37.7rem;
}

.icon_pc01_gouwuche{
    background-position:0 -39.8rem;
}

.icon_pc01_shouyizhichu{
    background-position:0 -41.9rem;
}

.icon_pc01_wodefenxiao{
    background-position:0 -44rem;
}

.icon_pc01_hongbaojilu{
    background-position:0 -46.1rem;
}

.icon_pc01_bangzhuzhongxin{
    background-position:-2.1rem -4.1rem;
}

.icon_pc01_abouttongcheng{
    background-position:-2.1rem -6.2rem;
}

.icon_pc01_tuijianjiangli{
    background-position:-2.1rem -8.3rem;
}

.icon_pc01_shezhi{
    background-position:-2.1rem -10.4rem;
}