<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="x5-page-mode" content="app">
    <title>参团详情</title>
    <link rel="stylesheet" type="text/css" href="https://j.vzan.cc/content/city/newcity/newindex/css/common.css">
    <style>
        [v-cloak]{display: none}
        .icon02{background: url(img/group02.png);background-size:50rem;background-repeat:no-repeat;}
        .member li{background: url(img/group04.png) top left;background-size:6rem;background-repeat:no-repeat }
        .group-time em {height: 2.2rem;width: 2.2rem;text-align: center;line-height: 2.2rem;background: linear-gradient(to right, rgb(255, 143, 0), rgb(255, 106, 0));border-radius: 5px;display: inline-block;font-size: 1.4rem;color: #fff;font-weight: bold;}
        .group-time i {height: 2.2rem;width: 1.2rem;text-align: center;line-height: 2.2rem;border-radius: 2px;display: inline-block;font-size: 1.4rem;color: #ff5a00;}
        .member{min-height: 6.5rem;text-align: center;margin: 1rem 0 0;}
        .member li span{position: relative;width:6rem;height: 6rem;display: inline-block;box-sizing: border-box;border-radius:50%;}
        .member li:first-child{margin: 0; }
        .member li{display: inline-block;position: relative;height: 7.5rem; width:6rem;box-sizing: border-box;margin: 0 0 0 -1rem;}
        .member li .leader{position: absolute;top:7rem;left: 50%;transform: translate(-50%,-50%);z-index: 2; display: block;margin: -1.7rem auto 0;font-size: 1.1rem;text-align: center;line-height:1.8rem; border-radius: .9rem;color: #fff;width: 3.3rem;height:1.8rem;background: linear-gradient(to right, rgb(255, 143, 0), rgb(255, 106, 0));}
        .member li img{position: absolute;top:0;left: 0; width:100%;height:100%;border-radius: 50%;}
        .icon-arrow05 {display: block;width: .7rem;height: .7rem;border-top: 1px solid #ccc;border-right: 1px solid #ccc;margin: 0 .2rem 0 .5rem;transform: rotate(45deg);}
        .bt01{margin: 1rem 0 0;height: 4.4rem;line-height: 4.4rem;border-radius: 2.2rem;background: linear-gradient(to right, rgb(255, 143, 0), rgb(255, 106, 0));}
        .bt02{margin: 1rem 0 0; height: 4.4rem;line-height: 4.4rem;border-radius: 2.2rem;background: linear-gradient(to right, #FFCC00,#FFAE00);}
        .checkOtherBtn{margin: 0 auto; width:11rem;height:3rem;line-height: 3rem; border:1px solid #ccc;border-radius:1.6rem;display:block;}
    </style>
</head>
<body>
    <div id="vue_group" v-cloak>
        <div class="basewrap" style="padding:0 0 1rem">
            <!--商品-->
            <div class="d-flex" style="background: #fff;border-radius:5px;margin: 1rem 1rem 0;padding: 1.5rem 1rem;">
                <div style="width: 9rem;height:9rem;border-radius:5px;margin: 0 1rem 0 0;">
                    <img class="img-wh-100" :src="Infor.img">
                </div>
                <div class="flex" style="margin: 0 0 0;">
                    <div class="f16 bold clamp2" style="line-height: 1.5;height: 4.3rem;">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</div>
                    <div>
                        <div class="bz f10" style="color: #ff6600; display: inline-block; margin: 1rem 0 0 .5rem;padding: 0 5px;border: 1px solid #ff6600;border-radius:1rem;height: 1.5rem;line-height: 1.3rem">{{Infor.groupPeople}}人团</div>
                    </div>
                    <div style="overflow: hidden;color: #ff6600;margin: .4rem 0 0;">
                        <div class="bold f12 fl" style="line-height: .9">
                        ￥<i class="f16">{{Infor.groupPrice}}</i>
                        </div>
                        <div class="line-through f12 fl" style="margin: .2rem 0 0 .5rem;color: #999;">¥{{Infor.originalPrice}}</div>
                    </div>
                </div>
            </div>

            <!--凑团-->
            <div style="background: #fff;border-radius:5px;margin: 1rem 1rem 0;padding: 0 1rem">
                <!--玩法-->
                <div class="d-flex d-flex-center f14 bottom-line" style="padding: 2rem 0;line-height: 1.4;">
                    <div class="c999" style="margin: 0 1rem 0 0;">玩法</div>
                    <div class="flex">支付开团后邀请{{Infor.groupPeople-1}}人参团，人数不足自动退款</div>
                    <div class="icon-arrow05"></div>
                </div>
            </div>


            <div style="background: #fff;border-radius:5px;margin: 1rem 1rem 0;padding: 1.5rem 1rem 3rem;">
                <div v-show="stateSeen">
                    <div style="padding: 1rem 0 0;" v-if="state==1">
                        <img src="img/group05.png" style="width:28%;display:block;margin:0 auto;">
                        <p class="f16 bold ta-c" style="padding: 1.5rem 0;">您已成功参加</p>
                    </div>
                    <div style="padding: 1rem 0 0;" v-else-if="state==2">
                        <img src="img/group05.png" style="width:28%;display:block;margin:0 auto;">
                        <p class="f16 bold ta-c" style="padding: 1.5rem 0;">恭喜您拼团成功！</p>
                    </div>                
                    <div style="padding: 1rem 0 0;" v-else="state==3">
                        <img src="img/group06.png" style="width:28%;display:block;margin:0 auto;">
                        <p class="f16 bold ta-c" style="padding: 1.5rem 0;">亲，您来晚了一步</p>
                    </div>
                </div>

                <div class="ta-c f16 bold" style="padding: 1.5rem 0 0;">
                    <i style="color: rgb(204, 204, 204);">—</i>&nbsp;距结束还剩&nbsp;<i style="color: rgb(204, 204, 204);">—</i>
                </div>
                <div class="group-time ta-c" style="margin: 1.2rem 0 0;">
                    <em>{{Infor.time.hour}}</em><i>:</i><em>{{Infor.time.minute}}</em><i>:</i><em>{{Infor.time.second}}</em>
                </div>  
                <div class="f14 bold ta-c" style="margin: 1.8rem 0 0">还差<i style="color: #ff6600;">2人</i>, 即可拼团成功</div>
                
                <ul class="member">
                    <li v-for="member,index in members" :style="'z-index:'+(Infor.groupPeople-index)">
                        <span :style="{border:(member.img==''?'none':'2px solid #ffe0cc') }">
                            <img :src="member.img" v-show="member.img!==''">
                        </span>
                        <i class="leader" v-show="index==0">团长</i>
                    </li>                   
                </ul>

                <a class="ta-c f14 c666 checkOtherBtn">查看全部团员</a>

                <p class="ta-c f14 c666" style="padding: 1.5rem 0 0;" v-show="btState==5">活动已经结束，要不看看其他热门拼团？</p>

                <div style="padding:1.5rem 0 0;" v-if="btState==1">
                    <div class="bold f14 cfff ta-c bt01">邀请好友参团</div>
                    <div class="bold f14 cfff ta-c bt02">立即参团</div>
                </div>

                <div style="padding:1.5rem 0 0;" v-else-if="btState==2">
                    <div class="bold f14 cfff ta-c bt01">立即参团</div>
                    <div class="bold f14 cfff ta-c bt02">邀请好友参团</div>
                </div>

                <div style="padding:1.5rem 0 0;" v-else-if="btState==3">
                    <div class="bold f14 cfff ta-c bt01">邀请好友参团</div>
                    <div class="bold f14 cfff ta-c bt02">查看订单详情</div>
                    <div class="bold f14 cfff ta-c bt02">查看其他拼团活动</div>
                </div>                

                <div style="padding:1.5rem 0 0;" v-else-if="btState==4">
                    <div class="bold f14 cfff ta-c bt01">查看其他拼团活动</div>
                    <div class="bold f14 cfff ta-c bt02">查看订单详情</div>
                </div> 

                <div style="padding:1.5rem 0 0;" v-else-if="btState==5">
                    <div class="bold f14 cfff ta-c bt01">查看其他拼团活动</div>
                </div> 

            </div>            
        </div>
    </div>

    
    <script src="../js/jquery-1.10.2.js"></script>
    <script src="../js/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el:'#vue_group',        
            data:{
                stateSeen:false,
                state:'',
                btState:1,
                Infor:{
                    img:'../img/04.jpg',
                    groupPrice:'90.8',
                    originalPrice:'50.8',
                    groupPeople:'2',
                    time:{day:'2',hour:'5',minute:'30',second:'20'},
                    title:'智利车厘子进口新鲜水果胜美国黑珍珠智利车厘子进口新鲜水果胜美国黑珍珠',
                    time:{hour:'5',minute:'30',second:'20'},
                },
                members:[
                    {img:'../img/04.jpg'},
                    {img:''}
                ]

            },
            methods:{

            },  
            mounted:function(){
        

            },
            created: function () {
            }  
        })
 
    </script>

</body>
</html>