.activity-swiper .regiment:before,.activity-swiper .regiment:after,
.activity-swiper .regiment.active:before,.activity-swiper .regiment.active:after,
.activity-swiper .progress .bg,.activity-swiper .progress .bg02,.my-reduce-commodity .regiment.gray:before,
.my-reduce-commodity .regiment.gray:after{
    background-image: url(../img/big-pic.png);
    background-size: 50rem;
}



.activity-swiper {
    padding: 1.2rem 1.2rem 0;
    box-sizing: border-box;
    overflow: auto;
}

.activity-swiper ul.swiper-slide{margin-bottom: 0}

.activity-swiper .content{
    background: #fff;
    padding: .8rem 0 1.2rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.activity-swiper .qiang-bt{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #f8272a;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    position: absolute;
    right: 0.8rem;
    top:50%;
    transform: translate(0,-50%);
}

.activity-swiper ul{
    box-sizing: border-box;
    margin-bottom: .8rem;
}

/* .activity-swiper ul:nth-child(odd){padding-right: .4rem;}

.activity-swiper ul:nth-child(even){padding-left: .4rem;} */

/* .activity-swiper .swiper-slide{
    width:150px;
    padding: 0;
    margin-right: .8rem;
} */

/* .activity-swiper .swiper-slide:nth-child(odd),.activity-swiper .swiper-slide:nth-child(even){
    padding: 0
} */

.activity-swiper .swiper-slide .progress{width: 10.8rem}

.activity-swiper .swiper-slide .progress .bg{
    height: 1.44rem;
    background-position: -15.75rem -2.7rem;
    background-size: 45rem;
}

.activity-swiper .swiper-slide .progress .bg02{
    border-radius:0.72rem;
    height:1.44rem;
    background-position:-15.75rem -4.5rem;
    background-size:45rem;
}

.activity-swiper .swiper-slide .progress .num01,.activity-swiper .swiper-slide .progress .num02{
    line-height: 1.44rem;
}

.activity-swiper .swiper-slide .progress .num02{
    line-height: 1.44rem;
    width: 3.6rem;
    margin-left: 3.6rem;
}


.activity-swiper li{
    border-radius: 4px;
    display: block;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    width: 100%;
}

.activity-swiper .pic{
    width:100%;
    padding-top:56%; 
    position: relative;
}

.activity-swiper.commodity .pic{
    padding-top:100%;
}

.activity-swiper .progress{width: 12rem;}

.activity-swiper .progress .bg{
    
    height: 1.6rem;
    background-position:-17.5rem -3rem;
    overflow: hidden;
}

.activity-swiper .progress .bg02{
    border-radius: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position:-17.5rem -5rem;
}

.activity-swiper .progress .num01{
    color: #f8272a;
    line-height: 1.6rem;
    text-align: center;
    font-size: 1rem
}

.activity-swiper .progress .num02{
    color: #fff;
    line-height: 1.6rem;
    text-align: center;
    width: 4rem;
    float: left;
    margin-left: 4rem;
    font-size: 1rem
}



.activity-swiper .pic .bottom{
    height: 2.4rem;
    line-height: 2.4rem;
    background:rgba(0, 0, 0, .2);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1.2rem;
}


.activity-swiper .buy-bt{
    position: absolute;
    top:50%;
    right: .8rem;
    display: block;
    width: 3.1rem;
    height: 3.1rem;
    background-position: -43.8rem 0;
    background-color: #f8272a;
    background-image: url(../img/big-pic.png);
    background-repeat: no-repeat;
    background-size: 50rem;
    transform: translate(0,-50%);
    border-radius: 50%;

} 

.activity-swiper .stock{
    width: 9rem;
    height:1.7rem;
    line-height:1.7rem;
    background-position:0 -15.7rem; 
    position: absolute;
    top:1.8rem;
    left:-1.9rem;
    background-image: url(../img/big-pic.png);
    background-repeat: no-repeat;
    background-size: 50rem;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    transform: rotate(-45deg);
}


.activity-swiper .pic>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.activity-swiper .sign{
    height: 2.4rem;
    width: 6rem;
    background: #fd781f;
    color: #fff;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
}

.activity-swiper .time{
    color: #fff;
    font-size: 1.2rem;
}


.activity-swiper .time em{
    display: inline-block;
    background: #f8272a;
    line-height: 1.6rem;
    height:1.6rem;
    padding: 0 .4rem;
    border-radius: .2rem;
    margin: 0 .4rem
}

.activity-swiper .time.no-beginning em{background: #fd781f;}

.activity-swiper .time em:first-child{margin-left: 0}

.activity-swiper .title{
    font-size: 1.4rem;
    color: #333;
    line-height: 1.4;
    padding: 0 1.2rem;
    margin: 0 auto;
    height: 1.6rem;
    margin: 0 0 .8rem;
    font-weight: bold;
}

.activity-swiper .money{
    color: #f8272a;
    height: 3rem;
    line-height: 3rem
}

.activity-swiper  .original{
    font-size: 1.2rem;
    color: #999;
    text-decoration: line-through;
    margin-left: .6rem;
    margin-top: .4rem;
}


.activity-swiper .people .head{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    float:left;
    margin-right: -.8rem;
}

.activity-swiper.commodity ul{
    width: 50%;
    float: left;
}

.activity-swiper.commodity .title{
    height: 3.8rem;
}

.activity-swiper.commodity ul:nth-child(odd){padding-right: .4rem;}

.activity-swiper.commodity ul:nth-child(even){padding-left: .4rem;}

.activity-swiper .people .head:last-child{margin-right: 0;}

.activity-swiper .regiment{
    font-size: 1rem;
    color: #fff;
    background: #fd781f;
    line-height: 1.5rem;
    height: 1.5rem;
    position: absolute;
    display: block;
    top: .4rem;
    left: 0;
}

.activity-swiper .regiment.active{
    background: #ccc;
    color: #666;
}

.activity-swiper .regiment:before{
    content: "";
    width: .4rem;
    height: 1.9rem;
    display: block;
    background-position: -16.9rem -10.8rem;
    position: absolute;
    left: -.4rem;
}

.activity-swiper .regiment:after{
    content: "";
    width: .4rem;
    height: 1.5rem;
    display: block;
    background-position: -19.9rem -10.8rem;
    position: absolute;
    right:-.4rem;
    top: 0;
}

.activity-swiper .regiment.gray{
    background: #ccc;
    color: #666
}

.activity-swiper .regiment.gray:before{
    background-position: -17.5rem -10.8rem;
}

.activity-swiper .regiment.gray:after{ 
    background-position: -18.1rem -10.8rem;
}

.commodity-type .type li>div,.commodity-type .type li>a>div{
    line-height: 1;
    border-radius:4px; 
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
    position: relative;
    background: #fff;
}


.my-reduce-commodity .regiment.gray{
    background: #cccccc;
}

.my-reduce-commodity .regiment.gray:before{
    background-position: -17.5rem -10.8rem;
}

.my-reduce-commodity .regiment.gray:after{
    background-position: -18.1rem -10.8rem;
}

.activity-swiper {padding-bottom: 1.2rem}

.activity-swiper ul.swiper-slide{
    box-shadow: 0 -1px 15px rgba(0,0, 0,.1);
}

.activity-swiper.swiper-container-horizontal .swiper-slide{background:transparent;}


@media only screen and (min-width: 320px) and (max-width: 350px) {
    .activity-swiper .time{font-size: 1rem}

    .activity-swiper .time em{
        padding: 0 .3rem;
        border-radius: .2rem;
        margin: 0 .3rem;
    }

    .activity-swiper .swiper-slide .progress{width:8.4rem}

    .activity-swiper .swiper-slide .progress .bg{
        height:1.12rem;
        background-position: -12.25rem -2.1rem;
        background-size:35rem;
    }
    
    .activity-swiper .swiper-slide .progress .bg02{
        border-radius:0.56rem;
        height: 1.12rem;
        background-position:-12.25rem -3.5rem;
        background-size:35rem;
    }
    
    .activity-swiper .swiper-slide .progress .num01,.activity-swiper .swiper-slide .progress .num02{
        line-height:  1.12rem;
    }
  
    .activity-swiper .swiper-slide .progress .num02{
        line-height: 1.12rem;
        width: 2.8rem;
        margin-left: 2.8rem;
    }
 

}
