
.index-bottom-nav>a i,.activity-title .more .arrow,.recruit-select-nav .tc-list-top-triangle{
    background-image: url(../img/big-pic.png);
    background-repeat:no-repeat;
    background-size:50rem;
}

.recruit-select-nav .tc-list-top-triangle {
    width: 1.2rem;
    height: 0.8rem;
    display: inline-block;
    background-position: -29.5rem -.1rem;
    margin-left: .8rem;
    vertical-align: baseline;
}

.index-bottom-nav{
    background-color: #fff;
    height:4.9rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    text-align: center;
    position: relative;
}

.index-bottom-nav em.dot{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #fff;
    background: #ff0000;
    display: block;
    position: absolute;
    top:-0.2rem;
    right: -0.4rem;
}

.index-bottom-nav>a p.f01,.index-bottom-nav>a p.f02{
    color: #fff;
    font-size: 1.4rem;}

.index-bottom-nav>a p.f01{padding-top: 1rem;}

.index-bottom-nav>a p.f02{padding-top:.5rem;}

.index-bottom-nav>a{
    display: block;
    height: 100%
}

.index-bottom-nav>a i{
    display: block;
    margin: .6rem auto .23rem;
    width: 2.3rem;
    height: 2.3rem;
    position: relative
}

.index-bottom-nav.home-page .right-line:before{
    right: 0;
    top:25%;
    width: 1px;
    height: 50%;
}

.index-bottom-nav.home-page>a .home{
    background-position:-10rem -45.2rem; 
}

.index-bottom-nav>a p{
    font-size: 1.2rem;
    line-height: 1;
    color: #666;
}

.index-bottom-nav>a.active p{
    color: #f8272a;
}

.index-bottom-nav .circleicon{
    position: absolute;
    width: 5.6rem;
    height: 5.6rem;
    background: #fff;
    border-radius: 50%;
    bottom: 2.1rem;
    left: 50%;
    transform: translate(-50%,0);
}

.index-bottom-nav .circleicon a{
    width: 4.9rem;
    height: 4.9rem;
    display: block;
    background-position:0 -4.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.index-bottom-nav .circleicon i{
    position: absolute;
    bottom: 8px;
    left:50%;
    transform: translate(-50%,0);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    display: block;
    background: linear-gradient(to right,#f20300,#ff450c);
    filter: blur(10px);
    -webkit-filter:  blur(10px);
}

.index-bottom-nav.release>a:nth-child(3) i{ background-image: none;}

.index-bottom-nav>a .home{background-position:0 -45.2rem}

.index-bottom-nav>a.active .home{background-position:0 -47.7rem}

.index-bottom-nav>a .shequ{background-position:-2.5rem -45.2rem}

.index-bottom-nav>a.active .shequ{background-position:-2.5rem -47.7rem}

.index-bottom-nav>a .hotsale{background-position:-25rem -45.2rem}

.index-bottom-nav>a.active .hotsale{background-position:-25rem -47.7rem}

.icon-commodity-ruzhu{background-position:-10rem -47.7rem}



.index-bottom-nav>a .cart{background-position:-27.5rem -45.2rem}

.index-bottom-nav>a.active .cart{background-position:-27.5rem -45.2rem}




.index-bottom-nav>a .ruzhu{background-position:-5rem -45.2rem}

.index-bottom-nav>a.active .ruzhu{background-position:-5rem -47.7rem}

.index-bottom-nav>a .me{background-position:-7.5rem -45.2rem}

.index-bottom-nav>a.active .me{background-position:-7.5rem -47.7rem}

.index-bottom-nav>a .icon-kefu{background-position:-12.5rem -47.7rem}

.index-bottom-nav>a .coupon-center{background-position:-10.4rem 0}

.index-bottom-nav>a.active .coupon-center{background-position:-10.4rem -2.3rem}

.index-bottom-nav>a .my-coupon{background-position:-13rem 0}

.index-bottom-nav>a.active .my-coupon{background-position:-13rem -2.3rem}


.index-bottom-nav>a .reduce{background-position:-15rem -45.2rem}

.index-bottom-nav>a.active .reduce{background-position:-15rem -47.7rem}

.index-bottom-nav>a .order{background-position:-22.5rem -45.2rem}

.index-bottom-nav>a.active .order{background-position:-22.5rem -47.7rem}

.index-bottom-nav>a .discount{background-position:-17.5rem -45.2rem}

.index-bottom-nav>a.active .discount{background-position:-17.5rem -47.7rem}


.index-bottom-nav>a .group{background-position:-20rem -45.2rem}

.index-bottom-nav>a.active .group{background-position:-20rem -47.7rem}

/*推荐商家导航*/
.index-type-select .shadow{
    height: 1px;
    background: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -1px 15px rgba(0,0, 0,.25);
    z-index: 2;
 }

 .index-type-select-nav li:before{
     content: "";
     height: 4px;
     width: 12px;
     background:#f8272a;
     border-radius: 2px;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translate(-50%,0);
     -webkit-transform: translate(-50%,0);
     display: block;
     display: none
 }

 .index-type-select-nav li.active:before{display: block}

 .index-type-select-nav li{position: relative;color: #666}

 .index-type-select-nav li.active{
     color: #f8272a;
     font-weight: bold;
     font-size: 1.6rem;
}


.index-type-select{
    padding: 0 1.2rem;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden
}

.index-type-select-nav{
    font-size: 0;
    height: 4.7rem;
    line-height: 4.7rem;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}


.index-type-select-nav li{
    display: inline-block;
    height: 100%;
    min-width: 6.4rem;
    overflow: hidden;
    text-align: center;
    font-size:1.4rem;
}

.index-type-select-nav li div{
    padding: 0 20px
}


.index-type-select-nav.swiper-container-horizontal .swiper-slide{font-size:1.4rem;}

/*代金券顶部导航*/
.index-type-select-nav.coupon{
    background: #fff;
    height:4.4rem;
    line-height: 4.4rem;
}

.index-type-select-nav.coupon li{
    margin: 0;
    height: 100%;
    min-width:auto;
    display: block;
    text-align: center;
}

.icon_nav_zhaopinqiuzhi{background-position: -10.4rem 0;}

.icon-enterprise-entry{background-position: -13rem 0;}

.icon_dynamic_pinglun{background-position: -15.6rem 0;}



.index-bottom-nav>a.active .icon_nav_zhaopinqiuzhi{background-position: -10.4rem -2.3rem;}

.index-bottom-nav>a.active .icon-enterprise-entry{background-position: -13rem -2.3rem;}

.index-bottom-nav .bt01{
    font-size: 1.6rem;
    color: #fff;
    line-height: 4.9rem;
}

/*招聘选择导航*/

.recommend-title{
    position: relative;
}

.new-recommend-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin-left: 1.6rem;
    height: 4.5rem;
    line-height: 4.5rem
}
.new-recommend-list{
    white-space: nowrap;
}
.new-recommend-item{
    margin-right:1.4rem;
    position: relative;
}

.new-recommend-list .new-recommend-item.active{color: #f8272a;font-weight: bold}

.new-recommend-list .new-recommend-item.active::before{display: block;}

.new-recommend-item:before {
    content: "";
    height: 4px;
    width: 12px;
    background: linear-gradient(to right,#f20300,#ff450c);
    border-radius: 2px;
    position: absolute;
    bottom:-1.3rem;
    left: 50%;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    display: block;
    display: none;
}


.top-nav{
    height:44px;
    padding: 0 1.2rem;
    box-sizing: border-box
}

.fix-nav-js.active{
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
}

.top-nav .subscribe-bt{
    font-size: 1.4rem;
    height: 2.4rem;
    width: 4.4rem;
    position: relative;
    line-height: 2.4rem;
    text-align: center;
}

.top-nav .subscribe-bt:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #f8272a;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:8px;
}

.top-nav .icon-left-arrow{
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    fill: #333;
    margin-left: -.4rem;
}

.recruit-select-nav{
    background: #fff;
    line-height:44px;
    height:44px;
    font-size: 1.4rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 1;
}

.recruit-select-nav .icon-triangle{
    width: 1.2rem;
    height: 0.8rem;
    display: inline-block;
    background-position: -29.5rem -.1rem;
    margin-left: .8rem;
}

.recruit-select-nav .flex{position: relative;padding-top: 14px;line-height: 16px}

.recruit-select-nav .flex.active{color: #f8272a;font-weight: bold;}

.recruit-select-nav .flex.active .icon-triangle{
    background-position: -31rem -.1rem;
}

.recruit-select-nav .flex span{
    font-size:14px;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 0 auto;
    height:16px;
}

.recruit-select-nav .flex:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 50%;
    height: 35%;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5) translate(0,-50%);
    transform: scaleX(0.5) translate(0,-50%);
}

.recruit-select-nav .flex:first-child:after{display: none;}

.activity-title{padding:1.2rem 1.2rem 0;}

.activity-title .more{
    height:1.6rem;
    width: 4.4rem;
    background: #ccc;
    border-radius: 0.8rem;
    line-height: 1.6rem;
    text-align: center;
    color: #fff;
}

.activity-title .more .arrow{
    display: inline-block;
    width: .5rem;
    height: .9rem;
    margin-left: .4rem;
    background-position:0 -7.5rem;
}



/*招聘筛选*/
.screen-select{
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}

.screen-local{
    background: #fff;
    color: #666;
}

.screen-local ul li{
    height: 4rem;
    line-height: 4rem;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
}

.screen-local ul li.active{
    color: #333;
    font-weight: bold;
}

.screen-local ul li.active{color: #333;}

.screen-local ul.flex{
    max-height: 30rem;
    overflow:auto;
}

.screen-local.type-js ul:first-child li.active:before{
    content:'';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    border-left: 4px solid #f8272a;
    box-sizing: border-box;
}

.screen-local ul.flex:first-child{background: #f2f2f2}

.screen-local ul:first-child li.active{background: #fff}

.screen-local ul.flex:nth-child(2){
    background: #fff;
    max-height: 30rem;
    overflow: auto;}


.job-all{
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    overflow: auto;
    max-height: 20rem;
}

.job-all span {
    box-sizing: border-box;
    float: left;
    font-size:1.4rem;
    color: #666;
    text-align: center;
    display: block;
    line-height:4rem;
    height: 4rem;
    padding:0 1.2rem;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.job-all span.active{font-weight: bold;color: #333;}

.dialog-screen-select-js{
    position: absolute;
    top:44px;
    left: 0;
    width: 100%;
}

.trade-focus-cell{
    height: 4rem;
    line-height: 4rem;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 0 1.2rem;
    font-size: 1.2rem
}

.trade-focus-cell .bt.active{
    background: #ccc;
}

.trade-focus-cell .bt{
    font-size: 1.2rem;
    height: 2.4rem;
    width: 4.9rem;
    line-height: 2.4rem;
    background: #f8272a;
    border-radius: 2px;
    text-align: center;
}

.recruit-select-nav .flex .active {
    color: #f8272a;
    font-weight: bold;
}

.recruit-select-nav .flex .active .tc-list-top-triangle {
    background-position: -31rem -.1rem;
}

.red-packet-input{
    font-size: 1.6;
    color: #333;
    padding: 0 1.2rem;
    font-size: 1.6rem;
}










