
.convenience-infor .top .label span.xuqiu{
    color: #f8272a;
    background:transparent;
}

.commodity-infor .focus{background: #fff;}

.commodity-infor .focus:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:50%;
}    

.commodity-infor .focus.active::before{display: none}

.icon-eye{background-position: -39.2rem -5rem}

.icon-comment{background-position: -41.4rem -5rem}

.icon-transmit{background-position: -43.6rem -5rem}

.commodity-infor .focus.active{background-color:#f8272a;}

.commodity-infor .center .icon-focus{background-position: -15.7rem 0;}

.commodity-infor .center .focus.active .icon-focus{background-position: -13.7rem 0;}

.activity-swiper .buy-bt,.activity-swiper .qiang-bt{background-color:#009cff}

.commodity-album-swiper{background: transparent}

.write-down .bt,.index-bottom-nav .bt01,.activity-swiper .time em{background:#009cff !important;}




/* .icon-wifi{background-position: -22.6rem -8.8rem;}

.icon-wired-internet {background-position: -34rem -8.8rem;}

.icon-parking-lot {background-position: -24.5rem -8.8rem;}

.icon-toilet {background-position: -28.3rem -8.8rem;}

.icon-hot-shower {background-position: -26.4rem -8.8rem;}

.icon-luggage-deposit {background-position: -30.2rem -8.8rem;}

.icon-delivery-service {background-position: -35.9rem -8.8rem;}

.icon-provide-home {background-position: -32.1rem -8.8rem;} */




/* .index-type-select-nav li,.commodity-activity .center .f02,.commodity-activity .center .f03,.convenience-infor .c999,
.convenience-infor .function,.p_header,.characteristic-ul li
{color: rgba(255,255,255,.6) !important;} */

.commodity-activity .center .f03,.commodity-activity .center .f02{color: #999 !important;}

.commodity-activity .bt,.cantact-dialog-js .bt,.index-type-select-nav li:before{background: #009cff}


.p_list .p_pro p a,.business-nav li.active,.index-type-select-nav li.active{color: #009cff !important;}

.business-nav li.active:before {border: 1px solid #009cff;}


