.pic-ul li.more .go,.shop-activity .size,.convenience-infor .icon-post-packet,.icon-triangle,
.convenience-infor .top .focus .icon-focus,.icon-prompt-love01,.icon-prompt-love02,
.convenience-infor .to-top,.fabu-zixun .arrow,.icon-eye,.icon-comment,.icon-transmit,.convenience-infor .top .call .icon-call{
    background-image: url(../img/big-pic.png);
    background-repeat: no-repeat;
    background-size:50rem;
}

.convenience-infor{
    padding:1.2rem 0 0;
    position: relative;
    background: #fff;
}

.convenience-infor .icon-post-admin{
    width: 1.6rem;
    height: 1.6rem;
    fill: #666;
    display: block
} 

.convenience-infor .top{
    margin-bottom: .8rem;
    padding: 0 1.2rem;
}

.convenience-infor .top .head{
    height: 4rem;
    width: 4rem;
    margin-right: .8rem;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.convenience-infor .top .head::before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e6e6e6;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.convenience-infor .top .name{
    margin-bottom: .4rem;
    height: 12px;
    font-size: 1.4rem;
}

.convenience-infor .top .name i{
    max-width: 45%;
    color: #0091ff;
    float: left;
    font-size: 1.2rem;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
}

.convenience-infor .top .name .business{
    background: #f8272a;
    color: #fff;
    border-radius: 2px;
    height: 1.2rem;
    width: 2.4rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1rem;
    display: inline-block;
    vertical-align: 3px;
    margin-left: .4rem;
}

.convenience-infor .top .label{
    overflow: hidden;
}

.convenience-infor .top .head img {
    width: 100%;
    height: 100%;
}

.convenience-infor .to-top{
    position: absolute;
    top: -.4rem;
    left: -.3rem;
    width: 2.1rem;
    height: 2rem;
    background-position: 0 0;
}

.convenience-infor .content{
    position: relative;
    padding: 0 1.2rem;
}

.convenience-infor .top .label span.gongji,.convenience-infor .top .label span.xuqiu,
.convenience-infor .top .label span.zhaopin{
    font-size: 1.2rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: 2px;
    position: relative;
    display: block;
    float: left;
    margin-right: .4rem;
    width: 3rem;
    text-align: center;
}

.convenience-infor .top .label span.gongji{
    color: #fd781f;
}

.convenience-infor .top .label span.xuqiu{
    color: #f8272a;
}

.convenience-infor .top .label span.zhaopin{
    color: #12af81;
}

.convenience-infor .top .label span.gongji:before,.convenience-infor .top .label span.xuqiu:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fd781f;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}


.convenience-infor .top .label span.xuqiu:before{
    border: 1px solid #f8272a;
}

.convenience-infor .top .label span.zhaopin:before{
    border: 1px solid #12af81}

.convenience-infor .top .call{
    background:#fd781f;
    display: block;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    position: relative;
    margin-left: 1.6rem;
} 

.convenience-infor .top .focus.active{
    position: relative;
    box-shadow: none;
    background:#f8272a;
    box-shadow: 0 2px 5px rgba(246,59,62,.35);
}

.convenience-infor .top .focus.active::before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:50%;
}

.convenience-infor .top .focus{
    position: relative;
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ccc;
} 

.convenience-infor .top .focus.active::before{display:block}

/* .convenience-infor .top .focus.active .icon-focus{background-position:-15.7rem 0;} */

.convenience-infor .top .focus .icon-focus{
    display: block;
    width:1.6rem;
    height: 1.5rem;
    background-position:-13.7rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.convenience-infor .top .call .icon-call{
    width:1.6rem;
    height: 1.6rem;
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: -13.7rem -2.2rem;
}

.convenience-infor .title{
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: .2rem;
}

.convenience-infor .title span:last-child{
    display: block;
    max-height: 6.4rem;
    overflow: hidden;
}

.spread-js{
    background: #fff;
    position: absolute;
    bottom:.25rem;
    right: 0;
    font-size: 1.4rem;
    height: 1.6rem;
    line-height: 1.6rem;
    box-sizing: border-box;
}

.convenience-infor .passage{
    color: #666;
    line-height: 1.45;
    font-size: 1.4rem;
}

.convenience-infor .pic-ul{
    padding-top: 0;
}

.convenience-infor .pic-ul li {
    width: 23.5%;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 2%;
    float: left;
    position: relative;
    margin-left: 2%;
    padding-top:25%;
}

.convenience-infor .pic-ul li img{
    position: absolute;
    top: 0;
    left: 0;
}

.pic-ul li.more .position{display:block}

.pic-ul li .position{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    display: none
}

.convenience-infor .pic-ul li .pic-mask{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: none;
}


.pImg ul li img{
    width: 100%;
    height: 100%;
}

.convenience-infor .pic-ul li.more .pic-mask{display:block}

.pic-ul li.more .go{display:block}

.pic-ul li.more .go{
    width:1.6rem;
    height: 1.6rem;
    background-position: -16.5rem -6.9rem; 
    margin: 2% auto .4rem;
}

.convenience-infor .pic-ul li:first-child{
    margin-left: 0%;
}

.convenience-infor .pic-ul li .number {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 1px 5px;
    color: #fff;
    font-size: 10px;
}


.convenience-infor .vedio {
    margin-top: .7rem;
    display: block;
    width: 100%;
    position: relative;
    border-radius:4px; 
    overflow: hidden;
}

.convenience-infor .vedio .mask{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
}

.convenience-infor .vedio img.start{
    width: 4rem;
    height: 4rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.youhuiquan{margin-top:.8rem;}


.youhuiquan .left:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 8px;
}

.shop-activity .icon-link{
    width: 1.3rem;
    height: 1.3rem;
    display: block;
    float: left;
    fill:#ccc;
    margin-right: .3rem;
    margin-top: -.1rem
}

.coinrotate{
    -webkit-animation: coinrotate .5s forwards infinite;
    animation: coinrotate .5s forwards infinite;}
  
  @keyframes coinrotate{
    0%{
      -webkit-transform:rotatey(180deg);}

    100% {
      -webkit-transform:rotatey(0deg);} 
}

@-webkit-keyframes coinrotate{
    0%{
      -webkit-transform:rotatey(180deg);}

    100% {
      -webkit-transform:rotatey(0deg);} 
}


.convenience-infor .function{
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
    color: #999;
    margin:0;
    text-align: center;
    padding: 1.2rem 0;
}


.convenience-infor .icon-liulan,.convenience-infor .icon-bianmin-pinglun{
    vertical-align: -1px;
}

.convenience-infor .icon-arrow-copy-copy{
    font-size:12px;margin-left:5px;
}

.convenience-infor .icon-arrow-copy{
    font-size:12px;margin-left:5px;
}

.convenience-infor .icon-post-share{font-size: 1.2rem;margin-right: 2px;}

.dingyue_cell {
    padding:1rem;
    position: relative;
    background: #fbfbfb;
}

.dingyue_cell .f01 {
    font-size: 1.6rem;
}

.dingyue_cell .f02 {
    font-size: 1.4rem;
    color: #666;
    margin-top: 5px;
}

.dingyue_cell .bt {
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ff5a00;
    color: #ff5a00;
    padding: 0 10px;
    font-size: 1.4rem;
    box-sizing: border-box;
    line-height: 28px;
    position: absolute;
    right: 10px;
    bottom: 15px;

}

/*底部弹框*/
.actionsheet-menu{
    background: #f5f5f5;
    z-index: 5000;
    position: fixed;
    left: 0;
    bottom:-100%;;
    width: 100%;}

.actionsheet-menu .cell{
    padding: 15px 0;
    text-align: center;
    font-size: 1.6rem;
    background: #fff;
}

/*拼车帖子*/
.city-arrow{
    width:36px;
    margin:-4px 6px 0;
}
.convenience-infor .title .carpooling{
    display: block;
}

.convenience-infor .carpooling .left{
    width: 56px;
    display: inline-block;
    text-align-last:justify;
}


/*优惠券*/
.youhuiquan .left{
    padding:2rem 1.5rem 0 1rem;
    height:8rem;
    background:#fff6f0;
}

.youhuiquan .left .p01{
    color:#ff3a1b;
    line-height:1.4;
    margin-bottom:.5rem;
}

.youhuiquan .right{
    margin-left:-.5rem;
    position:relative;
    z-index:2
}

.youhuiquan .right .pic01{height:8rem;display:block}

.youhuiquan  .recommend{
    position:absolute;
    top:0;
    left:0;
    background:#0091ff;
    padding:0 .6rem;
    height:1.4rem;
    line-height:1.4rem;
    border-top-left-radius:4px;
    border-bottom-right-radius:4px;
}

/*约车*/
.convenience-infor.car .top .car-type{
    width: 4.9rem;
    height: 2.4rem;
    border-radius: 4px;
    color: #fff;
    line-height: 2.4rem;
    text-align: center;
    margin-right: 1.2rem;
    font-size: 1.2rem;
}

.convenience-infor.car .function{
    padding: 0 1.2rem;
    font-size: 1.2rem;
}

.convenience-infor.car .direction{font-size: 1.6rem;}

.convenience-infor.car .direction .vacancy{
    font-size: 1.2rem;
    background: #fff6f0;
    color: #fd781f;
    padding: 0 .8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-radius: 2px;
    position: relative;
    display: block;
}

.convenience-infor.car .direction .vacancy:before {
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffddc6;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.convenience-infor.car .direction .green-circle{
    height: .8rem;
    width: .8rem;
    border-radius:50%;
    border:2px solid #12b270;
    box-sizing: border-box;
}

.convenience-infor.car .direction .blue-circle{
    height: .8rem;
    width: .8rem;
    border-radius:50%;
    border:2px solid #0091ff;
    box-sizing: border-box;
}

.convenience-infor.car .place-time{
    line-height: 1.3;
    margin-top: 1.5rem
}

.icon-prompt-love01{
    margin:0 auto 1.2rem;
    width:2.3rem;
    height:2rem;
    background-position: -17.6rem 0;
}

.icon-prompt-love02{
    margin:0 auto 1.2rem;
    width:3rem;
    height:2.2rem;
    background-position: -20.3rem 0;
}


/* 
.spread-js{
    padding:4px 0 0;
    position: absolute;
    right: 0;
    bottom: 0;
} */

.fabu-zixun{
    padding: 1.2rem 1.2rem .6rem;
    background: #fff;
}

.fabu-zixun .bt{
    background: #f8272a;
    border-radius: 2px;
    height: 2.4rem;
    width: 7rem;
    color: #fff;
    text-align: center;
    line-height:2.4rem;
    font-size: 1.4rem
}

.fabu-zixun .arrow {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-position: -8.8rem -2.2rem;
    vertical-align: -.4rem;
    margin-left: .4rem;
}

.icon-eye,.icon-transmit,.icon-comment{
    display: inline-block;
    width: 2rem;
    height: 1.6rem;
    vertical-align: -.4rem;
    margin-right: .6rem
}


.icon-eye{background-position: -32.6rem 0;}

.icon-comment{background-position: -34.8rem 0;}

.icon-transmit{background-position: -37rem 0;}

.convenience-infor .video{
    width: 100%;
    display: block;
    padding-top: 55.7%;
    margin-top: .7rem;
}

.convenience-infor .video-pic{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.convenience-infor .start-bt{
    width: 4.9rem;
    display: block;
    margin: 0 auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-mask{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    width: 100%;
    height: 100%;
}

.convenience-infor .pic-ul.detail li{
    padding: 0;
    width: 100%;
    display: block;
    border-radius:0;
    float: normal;
    margin-left: 0
}

.convenience-infor .pic-ul.detail li img{
    position: relative;
}

.icon-triangle {
    height: 1.6rem;
    width: 1.6rem;
    display: inline-block;
    background-position: -8.8rem -2.2rem;
    vertical-align: -.3rem;
    margin-left: .8rem;
}

/*店铺*/
.shop-cell{
    padding:1.2rem;
    background:#fff;
    margin-top: .8rem;
    line-height: 1.35
}

.shop-cell .flex{margin-right: 1rem;}

.shop-cell .head{
    width: 4rem;
    height: 4rem;
    border-radius: 4px;
    margin-right: .8rem;
}

.shop-cell .f01{
    margin-bottom: .4rem;
}

.shop-cell .bt{
    font-size: 1.4rem;
    width: 4.9rem;
    height:2.4rem;
    background: #f8272a;
    color: #fff;
    border-radius: 2px;
    line-height: 2.4rem;
    text-align: center;
}





