
.order-cell .shop .icon-shop,.order-cell .shop .arrow,.order-cell .commodity .arrow,.my-order-shop-situation .icon-location,
.my-order-shop-situation .call{
    background-image: url(../img/big-pic.png);
    background-repeat:no-repeat;
    background-size:50rem;
}


.order-cell .shop .icon-shop{
    width: 1.6rem;
    height: 1.4rem;
    display: block;
    background-position: -5.8rem -13rem;
    margin-right: .6rem;
}

 .order-cell .shop .name{width:10rem;line-height: 1.35}

 .order-cell .shop .arrow{
     width: .6rem;
     height: 1rem;
     display: block;
    background-position: -10.9rem -7rem;    
 }

.order-cell .commodity{
    padding: 1.2rem;
    background: #fff;
}

.order-cell .commodity .f01{font-size: 1.6rem;line-height: 1.35;}

.order-cell .commodity .f03{margin-top: 1.2rem;}

.order-cell .commodity .f02{font-size: 1.4rem;color: #999;margin-top: 1.2rem;}

.order-cell .commodity .head{
    width: 8rem;
    height: 8rem;
    position: relative;
    border-radius: 2px;
    margin-right: 1.2rem;
}

.order-cell .commodity .head:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.order-cell .commodity .head img{width: 100%;height: 100%;border-radius: 2px;}

.order-cell .commodity .arrow{
    margin-left:3rem;
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    background-position:-8.8rem -2.2rem;
}

.order-cell .function{padding: 1.2rem;background: #fff;}

.order-cell .function .bt{
    font-size: 1.4rem;
    height: 2.4rem;
    width: 8rem;
    line-height: 2.4rem;
    text-align: center;
    color: #333;
    position: relative;
    border-radius: 2px;
}

.order-cell .function .bt.active{
    background: #f8272a;
    color: #fff;
}

.order-cell .function .bt:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius:4px;
}    

.order-cell .function .bt.active:before{display: none;}

.order-cell .shop{height: 3.7rem;padding: 0 1.2rem;background: #fff;}

/*核销*/
.coupon-number {
    color: #333;
    font-size: 1.6rem;
    height: 2.4rem;
    line-height: 2.4rem;
    font-weight: bold;
    padding: 0 1.6rem;
    background: #f0f0f0;
    display: inline-block;
    /* margin: 0.667rem 0 0.267rem; */
}

.coupon-qr{
    width: 42%;
    display: block;
    margin: 1.9rem auto 0;
    box-sizing: border-box;
    padding: .8rem;
    position: relative;
}

.coupon-qr:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
}




.left-circle, .right-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #f5f5f5;
    position: absolute;
    bottom: -1rem;
    display: block;
}

.left-circle {left: -1rem;}

.right-circle {right: -1rem;}

.my-order-title {padding: 1.2rem 1.2rem 0;}

.my-order-title .line{
    width: .4rem;
    height: 1.3rem;
    background: #f8272a;
    display: inline-block;
    margin-right:.4rem;
    vertical-align: -.2rem
}

.my-order-shop-situation {
    line-height: 1.25;
    background: #fff;
    padding: 1.2rem;
}

.my-order-shop-situation .head {
    width: 8rem;
    height: 8rem;
    margin-right: 0.8rem;
    border-radius: 2px;}


.my-order-shop-situation .icon-location{
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    background-position: -8.1rem -4.6rem;
    margin-right: 0.7rem;
    vertical-align: -.2rem
}

.my-order-shop-situation .call{
    width: 3.1rem;
    height: 3.1rem;
    background-position: -16rem -22.8rem;
}

.my-order-situation {
    font-size:1.4rem;
    background: #fff;
    line-height: 2;
    padding:1.2rem;
}

.refund-bt{
    height: 2.4rem;
    width: 8rem;
    line-height: 2.4rem;
    text-align:center;
    font-size: 1.4rem;
    position: relative;
}

.refund-bt:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 8px;}    
