
.write-cell .arrow-right,.icon-select{
	background-image: url(../img/post-pic02.png);
	background-size: 50rem;
	background-repeat: no-repeat;
}

.write-cells {
    padding: 0 1.5rem;
    background: #fff;
}

.write-cell {
    background: #fff;
    height: 5.4rem;
    font-size: 1.4rem;
}

.write-cell .head{
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: #f6f6f6;
}

.write-cell .arrow-right{
    height: 1.2rem;
    width: .7rem;
    display: inline-block;
    margin:0 0 0 1rem; 
    background-position: -22rem 0;
}

.write-cell .right input.write {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    color: #333;
    line-height: 1.25;
}

.write-cell select{
    font-size: 1.4rem;
    position: relative;
    height: 100%;
    direction: rtl;
    color: #888
}

.textarea-all{position:relative;padding: 0 0 1.5rem;}

.textarea-all:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
} 

.textarea-all .textarea{position: relative;z-index: 1;background: transparent;}

.icon-select{
	width: 1.8rem;
	height: 1.8rem;
	background-position: -22.8rem 0;
}

.edit-infor-nav{background:#fff;padding: .8rem 1.5rem;font-size: 1.4rem}

.edit-infor-nav .bt01,.edit-infor-nav .bt02,.edit-infor-nav .bt03{
	height: 4rem;
	text-align: center;
	line-height: 4rem;
}

.edit-infor-nav .bt01{
	color: #0096FF;
	background: rgba(0,150,255,.1);
}

.edit-infor-nav .bt02{
	background: #0096FF;
	color: #fff;
}

.edit-infor-nav .bt03{
	color: #888;
	background: #f6f6f6;
}

.icon-grade{
    height: 1.6rem;
    padding: 0 .3rem;
    color: #fff;
    line-height: 1.6rem;
    font-size: 1rem;
    margin: 0 0 0 .5rem;
    display: block;
    float: left;
}
