
body{line-height: 1;background: #f0f0f0;}

textarea{font-family: "Microsoft YaHei",Arial;}

.basewrap{max-width: 640px;min-width: 320px;margin: 0 auto;}

.ta-c{text-align: center;}

.c333{color: #333;}

.c666{color: #666;}

.c999{color: #999;}

.none{display:none;}

.bottom-line,.top-line,.left-line{position: relative;}

.bottom-line:after {
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	border-bottom: 1px solid #f0f0f0;
	-webkit-transform-origin:0 100%
	transform-origin:0 100%;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
}

.top-line:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);}

.left-line:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #f0f0f0;
    color: #f0f0f0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);}



.clamp1{
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
	display:-webkit-box;
}

.clamp2{
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	display:-webkit-box;
}

.top-nav a .arrow,.original-article .close,.icon-location,.icon-expression,.function-bt span,.bankuai .close,.mode-select .radio,
.upload-pic li .close,.icon-close,.voice-bar .icon-voice,.video-pic,.voice-bar.other .icon,.icon-read-pay{
	background-image: url(../img/post-pic.png);
	background-size: 500px;
}

.top-nav{height: 44px;padding:0 15px;background: #fff;}

.top-nav>a{display: block;}

.top-nav a .arrow{
	width: 11px;height: 18px;display: block;background-position: 0 0;}

.top-nav .fabiao-bt{width:60px;height:27px;line-height: 27px;color: #fff;font-size: 14px;
background: #17b5ee;border-radius: 14px;text-align: center;}

.biaoti-input input{height: 41px;font-size:16px;color: #333;display: block;width: 100%;padding: 0 10px;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: #999;}

.biaoti-textarea textarea{height: 105px;padding: 10px;border:none;box-shadow: none;width: 100%;display: block;font-size: 14px;line-height: 1.6;
overflow: auto;}

.original-article{font-size: 12px;color: #999;padding: 10px 15px 0;}

.original-article .close{width: 13px;height: 13px;background-position:-12px 0;display:inline-block;vertical-align: -2px;margin-left: 10px;}

.icon-location{width: 12px;height: 14px;display: inline-block;background-position:-26px 0;vertical-align: -2px;margin-right: 6px;}

.draft-bt{height:20px;line-height: 20px;font-size: 12px;color: #666;width: 50px;border-radius: 10px;text-align: center;
	position: relative;background: #ececec;border-radius: 10px;margin-left: 15px;}

.draft-bt:before{
    content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #e5e5e5;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
	border-radius: 20px;
}

.icon-expression{width: 21px;height: 21px;background-position: -39px 0;margin-left: 15px;}

.function-bt{overflow: hidden;background:#f6f6f6;padding-bottom: 10px;}

.function-bt li{float: left;width: 20%;}

.function-bt span{width:25px;height:25px;display: block;margin: 10px auto 4px;}

.function-bt p{font-size: 12px;color: #a9a9a9;text-align: center;}

.icon-pic{background-position: -62px 0;}

.icon-voice{background-position: -89px 0;}

.icon-video{background-position: -116px 0;}

.icon-link{background-position: -143px 0;}

.icon-red-packet{background-position: -170px 0;}

.icon-voice-packet{background-position: -197px 0;}

.icon-gongzhong{background-position: -224px 0;}

.icon-offer-reward{background-position: -251px 0;}

.icon-anonymous{background-position: -278px 0;}

.icon-read-pay{background-position: -305px 0;}

.bankuai{max-height: 64px;overflow: auto;box-sizing:border-box;}

.bankuai li{float: left;height: 24px;line-height: 24px;text-align: center;padding:0 12px;background:#f5f5f5;
	border-radius:12px;margin-left: 10px;position: relative;margin-bottom: 5px;color: #666}

.bankuai li.active{background: #e7f7fd;color: #17b5ee;margin: 10px 0;}

.bankuai li.active:before{border: 1px solid #17b5ee;}

.bankuai li:before{
	content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #a9a9a9;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 24px;}

.bankuai .close{width: 17px;height: 17px;display: block;float: left;background-position:0 -20px;margin: 13px 0 0 20px;}

.mode-select{overflow: hidden;}

.mode-select .left{margin:15px 0 0 0;width: 45px;}

.mode-select .radio{width: 16px;height: 16px;display: inline-block;background-position: 0 -39px;margin-right: 5px;
vertical-align: -3px;}

.mode-select .radio.active{background-position: -19px -20px;}

.mode-select .radio-div{margin:15px 30px 0 0;}

.mode-select .write-input{height: 23px;width: 86px;position:relative;}

.mode-select .write-input:before{
	content: " ";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #a9a9a9;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;}

.mode-select .write-input input{display: block;width: 100%;text-align: center;height: 100%;position: relative;z-index: 2}

.mode-select .radio-div.active .radio{background-position: -19px -20px;}

.upload-pic li{width: 25%;padding-top: 25%; position: relative;margin-right: 5%;}

.upload-pic li:nth-child(3n){margin-right: 0;}

.upload-pic li img{position: absolute;width:100%;height:100%;display: block;border-radius: 5px;top: 0;left: 0;}

.upload-pic li .close{
	width: 17px;
    height: 17px;
    display: block;
    background-position: 0 -20px;
    position: absolute;
    top: -8px;
    right: -8px;
}

.icon-close{	
	width: 17px;
    height: 17px;
    display: block;
    float: left;
    margin:12px 0 0 15px; 
    background-position: 0 -20px;}

.voice-bar{
	background: #17b5ee;
	height: 40px;
	border-radius: 5px;
	width: 52%;
	padding:0 10px;
	box-sizing:border-box;
	font-size: 14px;
	color: #fff;
}

.voice-bar .icon-voice{width: 11px;height: 16px;background-position: -19px -39px;margin-right: 10px;} 

.volume-pic{display: block;width: 14px;height: 20px;}

.video-bar{width: 66.67%;height: 65px;border-radius: 5px;background: #f6f6f6;overflow: hidden;padding-right: 10px;box-sizing:border-box;}

.video-bar .left{width: 65px;height: 65px;background:#17b5ee;margin-right: 15px;}

.video-bar .right .f01{font-size: 14px;color: #333;line-height: 1.35}

.video-bar .right .f02{font-size: 12px;color: #999;margin-top: 10px;}

.video-pic{width: 31px;height: 22px;display: block;background-position: -37px -26px;margin: 22px 0 0 17px;}

.video-bar .left img{width: 100%;height: 100%;display: block;}

.voice-bar.other .icon{width: 22px;height: 22px;display: block;background-position: -70px -26px;margin-right: 10px;}

.read-pay-show{color:#333;font-size: 14px;padding: 10px 5px 40px;line-height: 1.4;border: 1px solid #ffd059;position: relative;}

.read-pay-show .close{width: 17px;height: 17px;display: block;background-position: 0 -20px;position: absolute;top: -8px;right: -8px;
    background-image: url(../img/post-pic.png);background-size: 500px;}

.contact-tel{background: #fff;padding:10px 0;}

.contact-tel .icon{
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background-image: url(../img/post-pic.png);
    background-size: 500px;
    background-position: -31px -230px;
}

.contact-tel input{display: block;width: 100%;}

/*滑动开关*/
.weui-cells_form .weui-cell__ft{font-size: 0;}
.weui-cell__ft {
text-align: right;
color: #808080;
}
.weui-cells_form input, .weui-cells_form textarea, .weui-cells_form label[for] {
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui-switch:checked, .weui-switch-cp__input:checked ~ .weui-switch-cp__box {
border-color: #17b5ee;
background-color: #17b5ee;
}
.weui-switch-cp__box {
display: block;
}
.weui-switch, .weui-switch-cp__box {
position: relative;
width: 52px;
height: 32px;
border: 1px solid #dfdfdf;
outline: 0;
border-radius: 16px;
box-sizing: border-box;
background-color: #fdfdfd;
-webkit-transition: background-color 0.1s, border 0.1s;
transition: background-color 0.1s, border 0.1s;
}
.weui-switch:checked:before, .weui-switch-cp__input:checked, .weui-switch-cp__box:before {
-webkit-transform: scale(0);
transform: scale(0);
}

.weui-switch:checked:after, .weui-switch-cp__input:checked ~ .weui-switch-cp__box:after {
-webkit-transform: translateX(20px);
transform: translateX(20px);
}

.weui-switch:after, .weui-switch-cp__box:after {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 30px;
height: 30px;
border-radius: 15px;
background-color: #FFFFFF;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
}

.weui-switch:before, .weui-switch-cp__box:before {
content: " ";
position: absolute;
top: 0;
left: 0;
width: 50px;
height: 30px;
border-radius: 15px;
background-color: #FDFDFD;
-webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
}
.weui-switch {
-webkit-appearance: none;
appearance: none;
}

.weui-switch-cp__input {
position: absolute;
left: -9999px;
}
