

.fix-tl{position: fixed;top: 0;left:0;width: 100%;}

/*.none{display:none;}*/

.bottom-line,.right-line,.top-line{
	position: relative;
}

.bottom-line:after{
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-transform-origin:0 100%;
	transform-origin:0 100%;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
}

.top-line:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.right-line:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.ta-c{text-align: center;}

.clamp1{-webkit-line-clamp:1;}

.clamp2{-webkit-line-clamp:2;}

.clamp1,.clamp2{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/*返回导航*/
.top-nav {
    height: 44px;
    padding: 0 15px;
    background: #fff;
}

.top-nav a .arrow {
    width: 11px;
    height: 18px;
    display: block;
    background-position: 0 0;
}

.top-nav a .arrow,.top-nav .center .arrow{
    background-image: url(../img/post-pic.png);
    background-size: 500px;
}

.top-nav>a {
    display: block;
}

.top-nav .fabiao-bt {
    width: 60px;
    height: 27px;
    line-height: 27px;
    color: #fff;
    font-size: 14px;
    background: #17b5ee;
    border-radius: 14px;
    text-align: center;
}

.top-nav .center .arrow{
	width: 13px;
    height: 8px;
    display: inline-block;
    background-position: -148px -103px;
    margin-left: 10px;
    vertical-align: 1px
}

.ta-r{text-align: right;color: #17B5EE;font-size: 16px;}

/*帖子审核*/
select{
	text-align: center;
	font-size: 16px;
	box-sizing: border-box;
    width: 100%;
    display: block;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;}

/*首页改版*/
#index-nav .left .follow,#index-nav .center .search,#index-nav .sign,#index-local .manage,#index-local .manage,.icon-ad{ 
	background-image: url(../img/post-pic.png);
    background-size:13.33rem;}

#index-nav{padding:.24rem .32rem;font-size: .373rem;}

#index-nav .left{
	width: 1.6rem;
	background:#F0F0F0;
	height:.746rem;
	line-height: .746rem;
	text-align: center;
}

#index-nav .left .follow{
	width:.346rem;
	height:.346rem;
	display: inline-block;
	margin-right: .133rem;
	vertical-align: -0.08rem;
	background-position:-4.186rem -.693rem;
}	

#index-nav .center{
	background:#F0F0F0;
	line-height:.746rem;
	margin: 0 .266rem;
	position: relative;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#index-nav .center .search{
	width:.346rem;
	height:.346rem;
	display: block;
	position: absolute;
	top:.213rem;
	left:.213rem;
	background-position:-3.78rem -.69rem; 
}

#index-nav .center input{
	width: 100%;
	padding: 0 0 0 .6933rem;
	box-sizing:border-box;
}

#index-nav .right{
	width:1.6rem;
	background:#17B5EE;
	color: #fff;
	height:.746rem;
	line-height:.746rem;
	text-align: center;}

#index-nav .sign{
	width:.346rem;
	height:.346rem;
	display: inline-block;
	vertical-align: -.053rem;
	background-position:-3.786rem -1.09rem;
}	

#index-bg{height:3.28rem;}

#index-bg img{display: block;width: 100%;height:100%}

#index-bg img{display: block;width: 100%;}

#index-local{height: .98rem;background: #fff;padding: 0 .32rem}

#index-local .left{width: 1.6rem;height: 1.6rem;margin:-.96rem auto 0;border: 1px solid #fff;}

#index-local .left img{width: 100%;height: 100%;}

#index-local .center{color: #666;font-size:.373rem;margin-left:.16rem;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}

#index-local .right{font-size:.373rem;color: #333;}

#index-local .manage{
	width:.346rem;
	height:.346rem;
	display: inline-block;
	margin-right:.133rem;
	vertical-align: -.053rem;
	background-position:-4.186rem -1.09rem;
}

#swiper-ad{height:3.28rem}

#swiper-ad img{width: 100%;height: 100%;}

.swiper-pagination-bullet{background:#fff;opacity: 1;width: 5px;height: 5px;}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #17b5ee;
}

/*公告*/
.ad-cell{height: .986rem;padding: 0 .32rem 0 0;}

.icon-ad{
	width: .48rem;
	height: .48rem;
	margin-right: .267rem;
	background-position:-10.1rem 0;
}

.ad-cell .f01{
	font-size:.373rem;
	line-height: .986rem;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
    line-height: .986rem;}

.ad-cell.red .icon-ad{background-position:-9.57rem 0;}

.ad-cell.red .f01{color: #FF2723;}

#self-serve-advertising{display: block;height: 3.28rem;}

#self-serve-advertising img{width: 100%;height: 100%;}

#self-serve-words{
	font-size:0.426rem;
	background:linear-gradient(to right,#3D8FFF,#7CC3FF);
	height:1.173rem;
	line-height: 1.173rem;
	font-weight: bold;
	text-align: center;
	color: #fff;}

.ad-cell .icon-ad02{
	display: block;
	background:linear-gradient(to right,#3D8FFF,#7CC3FF);
	width:.533rem;
	height:.533rem;
	line-height: .533rem;
	text-align: center;
	font-size: .293rem;
	color: #fff;
	margin-right: .133rem
}	

.ad-cell-all{padding: 0 0 0 .32rem;}

.ad-cell-all .ad-cell:last-child.bottom-line:after{
	display: none;
}






