body{background: #f0f0f0;}

.none{display:none;}

.bottom-line,.right-line,.top-line{
	position: relative;
}

.fix-tl-100{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10}

.bottom-line:after{
	content:" ";
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:1px;
	border-bottom: 1px solid #e5e5e5;
	-webkit-transform-origin:0 100%;
	transform-origin:0 100%;
	-webkit-transform:scaleY(0.5);
	transform:scaleY(0.5);
}

.top-line:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.right-line:after{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

.function-one-ul .icon,.function-two-ul .icon,.function-one-ul .icon .icon-hot{
	background-image:url(../img/post-pic.png);
	background-size: 500px;
}

.data-ul{
	margin-top: 10px;
	padding: 20px 0 15px;
	background: #fff;
	text-align: center;
	line-height: 1
}

.data-ul li p:first-child{
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

.data-ul li p:last-child{font-size: 14px;color: #999;margin-top: 1.5rem}

.function-one-ul{
	padding: 15px 0;
	background: #fff;
	font-size: 12px;
	text-align: center;
	margin: 10px 0 0;
	color: #333;
}

.function-one-ul li{width: 25%;height: 85px;}

.function-one-ul .icon{
	width: 40px;
	height: 40px;
	display: block;
	margin:0 auto;
	position: relative;
}

.function-one-ul .f01{
	margin-top: 10px;
}

.function-two-ul{
	background: #fff;
	font-size: 12px;
	text-align: center;
	margin: 10px 0 0;
	color: #333;
	overflow: hidden;
}

.function-two-ul li{
	float:left;
	width:25%;
	height:85px;
}

.function-two-ul .icon{
	width: 27px;
	height: 27px;
	display: block;
	margin: 0 auto;
}

.function-two-ul a{
	display: block;
	padding:20px 0 0;
	width: 100%;
	height:85px;
	box-sizing:border-box;
}

.function-two-ul .f01{margin-top: .8rem;}

.function-one-ul.three .icon{
	width: 36px;
	height: 36px;
	display: block;
}

.fix-tl-100{position: fixed;top: 0;left: 0;height: 100%;width: 100%;}

.black-mask{width: 100%;height: 100%;background: rgba(0,0,0,.5);}

 .bt01,.bt02{
	width: 110px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight:bold;
	border-radius: 20px;
}

 .bt01{background: #fff;color: #999;font-weight:bold;}

 .bt02{background:linear-gradient(to right,#FF6131,#FFE65C);color: #fff;font-weight:bold;}

 .update-dialog{
 	position:fixed;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%,-50%);
 	background: #fff;
 	border-radius: 10px;
 	background:linear-gradient(45deg,#1054FF,#45ACFB);
 	width: 260px;
 	padding: 0 0 15px;
 }

.update-dialog .pic01{width: 120px;display: block;margin: -20px auto 0;}

.update-dialog .f01{font-size: 16px;color: #fff;text-align: center;margin-top: 30px;}	

.update-dialog .bt-all{overflow: hidden;padding: 0 15px;margin: 45px 0 0}

.function-one-ul .icon .icon-hot{
	width: 17px;
	height: 17px;
	display: block;
	background-position:-49px -212px; 
	position: absolute;
	top: -15px;
	right: -25px;
}



