    .fix-tl {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    body{background:#f0f0f0;line-height: 1}

    .bottom-line{position: relative;}

    .other_nav {
        width: 100%;
        height: 4.2rem;
        background-color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 0 1.2rem;
        box-sizing: border-box;
    }

    .o_nav {
        width: 100%;
        height: 4.2rem;
        background-color: #fff;
        position: relative;
        align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

	.o_nav_l i {
	    display: inline-block;
	    width: 0.9rem;
	    height: 1.6rem;
	    background: url(http://j.vzan.cc/images/icon.png?v=0.01)no-repeat -32rem -12rem;
	    -webkit-background-size: 50rem;
	    background-size: 50rem;
	}

	.bottom-line:after {
		content:" ";
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:1px;
		border-bottom: 1px solid #d9d9d9;
		-webkit-transform-origin:0 100%;
		transform-origin:0 100%;
		-webkit-transform:scaleY(0.5);
		transform:scaleY(0.5);}

    .vip-banner{background: #999FF9;text-align:center;color: #fff;padding: 16px;}

    .vip-banner .f01{font-size: 18px;} 

    .vip-banner .f02{font-size: 14px;padding: 8px 0 16px;} 

    .vip-banner .f03{font-size: 12px} 

    .icon-hook{
        width: 9px;
        height: 6px;
        margin-right: 5px;
        display: inline-block;
        background:url(../img/ranking07.png) 0 0;
        background-size:9px}

    .vip-content{padding: 0 15px 34px;} 

    .vip-content .title{font-size: 16px;padding: 34px 0 24px;text-align: center;}

    .vip-content .title .i01{color: #949494}

    .vip-content .title .i02{padding: 0 20px;}

    .vip-content .content{overflow: hidden;}

    .vip-content .content li{width: 50%;font-size: 13px;color: #666;float: left;margin-bottom: 15px;}

    .vip-content .bt{
        background: #17B5EE;
        color: #fff;
        font-size:17px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        width: 235px;
        margin: 10px auto 0;
        display: block;
    }

    .tips{padding: 0 12px 40px;line-height: 1.6}

    .tips .f01{color: #666;font-size: 15px;}

    .tips .f02{color: #666;font-size: 12px;}

    .basewrap{
        min-width: 320px;
        max-width: 640px;
        margin: 0 auto;}