

input::-webkit-input-placeholder {color: #999;}
input::-moz-placeholder {color: #999}
input::-moz-placeholder {color: #999;}
input::-ms-input-placeholder {color: #999;}
.fix-bl{position: fixed;bottom: 0;left: 0;width: 100%}
.fix-tl{position: fixed;top:0;left: 0;width: 100%;}
.fix-tl-100{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 500;}
.top-nav {height: 44px;padding: 0 15px;background: #fff;}
.top-nav a .arrow{width: 11px;height: 18px;display: block;background-position: 0 0;}
.top-nav .center{text-align: center;flex:1;font-size: 16px;}
.top-nav .left,.top-nav .right{width: 60px;}
.bottom-line,.top-line{position: relative;}
.bottom-line:after {content: " ";position: absolute;left: 0;bottom: 0;
    width: 100%;height: 1px;border-bottom: 1px solid #e5e5e5;-webkit-transform-origin: 0 100%;transform-origin:0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.logo-upload .head {width: 60px;height: 60px;}
.logo-upload .head img{width: 100%;height: 100%;display: block;}
.clamp1{overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;-webkit-line-clamp: 1;display: -webkit-box;}
.pay-version{padding: 0 10px;}
.pay-version .xuan{background: #f0f0f0;text-align: center;border:2px solid #f0f0f0;padding: 10px 0 0;border-radius: 4px;height: 70px;box-sizing:border-box;width: 25%;margin: 0 3%;}
.pay-version .f01{font-size: 18px;font-weight: bold}
.pay-version .f02{font-size: 12px;margin-top: 2px;}
.pay-version .f02 i{font-size: 16px;font-weight: bold;}

.pay-version .xuan.active{background:url(../img/version-01.jpg);color: #fff;border: none;background-size: 100%;width: 35%;}

.user-forum{margin: 0 10px;}

.user-forum .flex{padding: 5%;background:#f0f0f0;}

.user-forum .flex .name{line-height: 16px;font-size: 14px;text-align: center;margin-top: 10px;}

.user-forum .flex:nth-child(2){margin: 0 3%;}

.user-forum .flex img{width: 100%;}