.buy01,.plus-data-bt,.p_replay .button2,.select-nav>.flex i,.payOnline-bt,.marketActivity-cell .bt .buy,.detail-footer-nav .bt{
    background: linear-gradient(to right,#ff4086,#ff406a);}

.marketActivity-cell .bt .surplus,.recruit-staff,.little-bt{
    color: #ff406a;
    background: rgba(255,64,106,.1)
}

.select-nav>.flex.active{color: #ff406a;}

.commodity-ul02 li.active{
    border:1px solid #ff406a;
    color: #ff406a;
}
