.plus-data-bt,.p_replay .button2,.select-nav>.flex i,.shopFous-cell .bt,.little-bt,.payOnline-bt,.marketActivity-cell .bt .buy,.detail-footer-nav .bt{
    background: linear-gradient(to right,#00b6ff,#0091ff);}

.marketActivity-cell .bt .surplus,.recruit-staff{
    color: #0091ff;
    background: rgba(0,145,255,.1)
}

.select-nav>.flex.active{color: #0091ff;}

.commodity-ul02 li.active{
    border:1px solid #0091ff;
    color: #0091ff;
}