.plus-data-bt,.p_replay .button2,.select-nav>.flex i,.shopFous-cell .bt,.little-bt,.payOnline-bt,.marketActivity-cell .bt .buy,.detail-footer-nav .bt{
    background: linear-gradient(to right,#4063ff,#4045ff);}

.marketActivity-cell .bt .surplus,.recruit-staff{
    color: #4045ff;
    background: rgba(64,69,255,.1)
}

.select-nav>.flex.active{color: #4045ff;}


