.buy01,.plus-data-bt,.p_replay .button2,.select-nav>.flex i,.payOnline-bt,.marketActivity-cell .bt .buy,.detail-footer-nav .bt{
    background: linear-gradient(to right,#bf40ff,#a340ff);}

.marketActivity-cell .bt .surplus,.recruit-staff,.little-bt{
    color: #a340ff;
    background: rgba(163,64,255,.1)
}

.select-nav>.flex.active{color: #a340ff;}

.commodity-ul02 li.active{
    border:1px solid #a340ff;
    color: #a340ff;
}


