
.fix-tl-100{position: fixed;bottom: 0;left: 0;width: 100%;height: 100%;}

.blackmask{width: 100%;height: 100%;background: rgba(0,0,0,.5);}

.receive-dialog{
	padding:35px 0;
	width: 266px;
	background: #fff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-sizing:border-box;
}

.receive-dialog .f01{font-size: 20px;text-align: center;font-weight: bold;}

.receive-dialog .f02{font-size: 15px;text-align: center;margin-top: 5px;padding-bottom: 10px;}

.receive-dialog .w-cell{padding: 0 20px;margin: 15px 0 0;}

.receive-dialog .left{font-size:15px;color:#333;}

.receive-dialog .right{height: 27px;background: #F2F2F2;}

.receive-dialog .bt{font-size:16px;color: #fff;height: 33px;background: #17B4ED;text-align: center;margin:30px 20px 0;line-height: 33px;}

.receive-dialog .f01{text-align: center;font-size: 12px;color:#666;margin:10px 0 0;}


.luck-dialog{
	width:223px;
	height:235px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url(../img/big-draw01.png);
	background-size:223px 235px;}

.luck-dialog .f01{color:#F6DA85;font-size: 19px;font-weight: bold;text-align: center;margin: 3px 0 0}

.luck-dialog .f02{font-weight: bold;font-size: 15px;text-align: center;margin:25px 6px 0 0;}

.luck-dialog .f03{font-size: 15px;color: #FDF2C5;text-align: center;font-weight: bold;margin: 28px 0 0;}

.luck-dialog .f04{font-size: 12px;color: #FDF2C5;text-align: center;margin:3px 0 0;}

.luck-dialog .bt{
	height:30px;
	width: 174px;
	background: linear-gradient(to bottom,#F5EFD3,#F6DC98);
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	color: #E1353A;
	font-weight: bold;
	margin:15px auto 0;}

.luck-dialog .pic01{width:22px;margin: 15px auto 0;display: block;}

.luck-dialog .pic02{vertical-align:-3px; width:17px;display: inline-block;margin-right:6px;}

.luck-dialog02{
	width:213px;
	height:300px;
	background:#e71926;
	position: absolute;
	top:50%;
	left: 50%;
	border-radius: 5px;
	transform: translate(-50%,-50%);
	background-size:223px 235px;}

.luck-dialog02 .f01{font-weight:bold;font-size: 20px;color:#f6da85;text-align: center;margin-top: 60px;}

.luck-dialog02 .f02{color:#f6da85;font-size: 13px;text-align: center;margin-top: 10px;}

.luck-dialog02 .pic01{width: 100%;display: block;margin:48px 0 0;}

.luck-dialog02 .pic02{width: 80px;display: block;margin:-45px auto 0;}

.big-draw-f01 span{display: inline-block;}