/* 公共 */
body { background: #fff }
.block-title { position: absolute; top: -1.75rem; right: 0; left: 0; margin: 0 auto; width: 42.66666666667%; height: 3.5rem; color: #fff; text-align: center; font-size: 1.6rem; line-height: 3.5rem; font-weight: 700; background: #a734ff; border-radius: 3.5rem; box-shadow: 0 0 10px #a734ff }

#wrapper { margin: 0 auto; width: 100%; max-width: 640px }

#header { padding: 4.5rem 2.2rem 6rem }

.pay-result-wrapper { margin-bottom: 3.8rem }

.icon-pay-result { width: 4.9rem; height: 4.9rem; margin-bottom: 1.6rem }

.pay-result-text { font-weight: 700; font-size: 1.8rem }

#header .global-btn { width: 48.1203007518%; height: 4rem; }

#main{overflow-x: hidden}

.prize-title-wrapper { padding: 2.7rem 0 1.2rem }

.prize-title { margin-bottom: 2.2rem; font-size: 3.2rem }
.prize-account { margin-bottom: 1.2rem }

/* 中奖纪录 */
.prize-record-wrapper { position: absolute; left: 1.2rem; top: 0; bottom: 0; margin: auto 0; padding: .2rem .4rem .2rem .2rem; height: 2.6rem; background: #fff; border-radius: 1.6rem; animation: showPrizeRecord 2.2s cubic-bezier(0.470, 0.250, 0.825, 1) infinite both }

@keyframes showPrizeRecord {
    0% { transform: translateX(-120%) }
    25% { transform: unset }
    65% { transform: unset; opacity: 1 }
    100% { transform: translateY(-100%); opacity: 0 }
}

.prize-record-content { width: 7.5rem; padding-right: .5rem }
.prize-record-avatar { margin-right: .7rem; width: 2.6rem; height: 2.6rem; border-radius: 50% }

/*  */
.prize-record-btn { margin-right: 1.2rem; width: 6.5rem; height: 6.7rem }

.prize-rotate-wrapper { margin-bottom: 2rem }
.prize-list-wrapper { padding-top: 3.5rem; padding-right: 0; margin-bottom: 2.75rem; }
.prize-item { position: relative; padding-bottom: 1.2rem }
    .prize-item:not(:last-of-type)::after { content: ''; position: absolute; bottom: 0; right: 0; width: calc(100% - 7rem); height: 1px; border-bottom: 1px solid #e5e5e5; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleY(0.5); transform: scaleY(0.5) }
.prize-item-cover { margin-right: 1rem; width: 6rem; height: 6rem; border-radius: .4rem }
.prize-rules-wrapper { padding: 3.5rem 1rem 2.4rem }
.prize-rules-text { line-height: 1.6 }
.prize-empty { padding-top: 3rem; top: 36.65%; right: 0; margin: 0 auto; width: 80%; background: #fff; border-radius: .8rem; z-index: 99 }
.prize-empty-title { font-size: 1.8rem; margin-bottom: 1.6rem }
/* 中奖 */
.prize-get { /*display: none;*/ top: 26.65%; right: 0; margin: 0 auto; width: 80%; max-width: 512px; height: 31rem; z-index: 99 }
    .prize-get .global-btn { height: 4rem; margin-bottom: 1.2rem }
.prize-get-active-btn { color: #ff3a1b; background: #fffe00; border: none }
.prize-get-content { position: absolute; top: 25%; right: 0; left: 0; padding-top: 2.2rem; margin: 0 auto; width: 86.666666667%; height: 17.8rem; background: #fff; border-top-left-radius: .8rem; border-top-right-radius: .8rem; z-index: 10 }
.show-prize { animation: showPrize .48s .32s cubic-bezier(0.405, 0.110, 0.710, 1.000) both }

@keyframes showPrize {
    100% { transform: translateY(-35%) }
}

/*.global-fix-mask { display: none }*/
.prize-get-cover { position: absolute; left: 0; bottom: 0; width: 100%; height: 23.1rem; border-radius: .8rem; overflow: hidden; z-index: 11 }

.prize-get-tips { margin-bottom: 2.8rem; font-size: 2.4rem; color: #fff; }
.prize-get .global-alin-top { margin-bottom: 1.5rem }
.prize-get-btn-wrapper { padding: 0 1.6rem }
.prize-count-none { width: 54%; margin: 0 auto 1.6rem }
.prize-get-btn-wrapper .global-btn { width: 48.5074626% }
    .prize-get-btn-wrapper .global-btn:first-of-type { color: #fff; border-color: #fff }

/* 关闭 */
.prize-close { position: absolute; top: -3.8rem; right: 0; width: 3.4rem; height: 3.4rem; border: 2px solid #fff; border-radius: 50% }
    .prize-close::before, .prize-close::after { content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 2px; height: 60%; background: #fff }
    .prize-close::before { transform: rotate(45deg) }
    .prize-close::after { transform: rotate(-45deg) }

/* 大转盘样式 */
.wheel-wrapper {
    display: block;
    margin: 0 auto;
    height: 110vw;
    background: url(../images/wheel-bg-active-1.png) no-repeat 0 0;
    animation: backgroundAnim 2.4s cubic-bezier(0.515, 0.060, 0.175, 1) infinite forwards;
    background-size: 100%; }

@keyframes backgroundAnim {
    50% { background: url(../images/wheel-bg-active-2.png) no-repeat 0 0; background-size: 100% }
}

#wheelCanvas { width: 100% }
.wheel-shadow { margin: 0 auto; width: 60%; height: 1.2rem; background: -webkit-radial-gradient(ellipse,#f5490f,#f95b26); background: radial-gradient(ellipse,#f5490f,#f95b26); border-radius: 45%; filter: blur(4px); box-shadow: 10px 10px 30px rgba(0, 0, 0, .1) }
#pointer { position: absolute; top: 42%; left: 50%; transform: translate(-50%,-50%); width:20%;height: 25%; background-size: 100% }

/*.icon-point-active { display: none }*/

/*@media screen and (min-width: 411px) {
    #pointer { height: 11.2rem; }
}

@media screen and (min-width: 640px) {
    #pointer { height: 13.2rem; }
}
*/