<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="telephone=no" name="format-detection">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <title>发布的职位</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/recruit-list.css">
</head>
<body class="bg-f">
    <!--最新推荐-->
    <div class="bg-f basewrap bz" style="padding:1.2rem 1.2rem 7.6rem;">
        <!--招聘复杂版-->
        <div class="bg-f recurit-list">
            <div class="d-flex top">
                <div class="flex left">
                    <p class="clamp1 f14 f01">熟手收银员/人事专员/保洁阿姨/人事专员/保洁阿姨</p>
                    <p class="f02 clamp1">
                        <span v-for="require in recruitList.requires">性别不限</span>
                        <span v-for="require in recruitList.requires">学历不限 </span>
                        <span v-for="require in recruitList.requires">经验不限</span>
                    </p>
                    <div class="type">
                        <span>五险一金</span>
                        <span>话补</span>
                        <span>交通补贴</span>
                    </div>
                    <div class="f03 clamp1">
                        <i class="qi">企</i>广州立信互动信息科技有限公司</div>
                </div>
                <div class="right">
                    <p class="f16 mc money">3000-5000</p>
                    <div class="apply-bt fr">申请</div>
                </div>
            </div>
            <div class="d-flex bottom f10 c666">
                <div class="f01">广州市-天河区</div>
                <div class="flex f02">2018.05.05</div>
                <svg class="icon-post-admin" aria-hidden="true">
                    <use xlink:href="../css/icon.svg#post-admin"></use>
                </svg>
            </div>
            <i class="top_ding"></i>
        </div>
        <div class="bg-f recurit-list">
            <div class="d-flex top">
                <div class="flex left">
                    <p class="clamp1 f14 f01">熟手收银员/人事专员/保洁阿姨/人事专员/保洁阿姨</p>
                    <p class="f02 clamp1">
                        <span v-for="require in recruitList.requires">性别不限</span>
                        <span v-for="require in recruitList.requires">学历不限 </span>
                        <span v-for="require in recruitList.requires">经验不限</span>
                    </p>
                    <div class="type">
                        <span>五险一金</span>
                        <span>话补</span>
                        <span>交通补贴</span>
                    </div>                       
                    <div class="f03 clamp1"><i class="icon-people" style="background-position: -17.2rem -6.9rem;"></i>梁小姐</div>
                </div>
                <div class="right">
                    <p class="f16 mc money">3000-5000</p>
                    <div class="apply-bt fr">申请</div>
                </div>
            </div>
            <div class="d-flex bottom f10 c666">
                <div class="f01">广州市-天河区</div>
                <div class="flex f02">2018.05.05</div>
                <svg class="icon-post-admin" aria-hidden="true">
                    <use xlink:href="../css/icon.svg#post-admin"></use>
                </svg>
            </div>
            <i v-bind:class="{top_ding:recruitList.top}"></i>
        </div>
        <div class="bg-f recurit-list">
            <div class="d-flex top">
                <div class="flex left">
                    <p class="clamp1 f14 f01">熟手收银员/人事专员/保洁阿姨/人事专员/保洁阿姨</p>
                    <p class="f02 clamp1">
                        <span v-for="require in recruitList.requires">性别不限</span>
                        <span v-for="require in recruitList.requires">学历不限 </span>
                        <span v-for="require in recruitList.requires">经验不限</span>
                    </p>
                    <div class="type">
                        <span>五险一金</span>
                        <span>话补</span>
                        <span>交通补贴</span>
                    </div>                       
                    <div class="f03 clamp1"><i class="icon-people"></i>梁小姐</div>
                </div>
                <div class="right">
                    <p class="f16 mc money">3000-5000</p>
                    <div class="apply-bt fr">申请</div>
                </div>
            </div>
            <div class="d-flex bottom f10 c666">
                <div class="f01">广州市-天河区</div>
                <div class="flex f02">2018.05.05</div>
                <svg class="icon-post-admin" aria-hidden="true">
                    <use xlink:href="../css/icon.svg#post-admin"></use>
                </svg>
            </div>
            <i v-bind:class="{top_ding:recruitList.top}"></i>
        </div>           

        <!--招聘简单版-->
        <div class="bg-f recurit-list">
            <div class="d-flex top">
                <div class="flex left">
                    <p class="clamp1 f14 f01">熟手收银员/人事专员/保洁阿姨/人事专员/保洁阿姨</p>
                    <p class="f02 clamp2" style="line-height:1.4">吃苦耐劳，能适应夜班/白班轮班节奏，40岁以下，限阿姨。</p>
                    <div class="f03 clamp1">
                        <i class="qi">企</i>广州立信互动信息科技有限公司</div>
                </div>
                <div class="right">
                    <p class="f16 mc money">3000-5000</p>
                    <div class="apply-bt fr">申请</div>
                </div>
            </div>
            <div class="d-flex bottom f10 c666">
                <div class="f01">广州市-天河区</div>
                <div class="flex f02">2018.05.05</div>
                <svg class="icon-post-admin" aria-hidden="true">
                    <use xlink:href="../css/icon.svg#post-admin"></use>
                </svg>
            </div>
            <i class="top_ding"></i>
        </div>


    </div>

</body>
</html>